<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header p-4">
				<h5 class="modal-title fsz-20 fw-500 d-flex align-items-center justify-content-between" id="loginModalLabel">{{ heading_title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-4">
				<form method="post" enctype="multipart/form-data" id="popupLoginForm">
					<div class="form-group mb-3">
						<label class="fsz-14 dark-text fw-500 pb-1 br-8" for="inputEmailLogin">{{ entry_email }}</label>
						<input type="email" class="form-control" id="inputEmailLogin" aria-describedby="emailHelp" placeholder="{{ entry_email }}" name="email" inputmode="text">
					</div>
					<div class="form-group">
						<label class="fsz-14 dark-text fw-500 pb-1 br-8" for="inputPasswordLogin">{{ entry_password }}</label>
						<input type="password" class="form-control" id="inputPasswordLogin" placeholder="{{ entry_password }}" name="password" />
						{% if redirect %}
							<input type="hidden" name="redirect" value="{{ redirect }}" />
						{% endif %}
					</div>
					<div class="d-flex justify-content-between mt-3 mb-4 fw-500 fsz-14">
						<a class="blue-link forgotten_pass-modal" href="{{ forgotten_url }}">{{ button_forgotten }}</a>
					</div>
					<button id="popup-login-button" type="button" class="sc-btn sc-btn-primary br-8">{{ button_login }}</button>
					<div class="socauth">
						<div class="socauth-separator">

							<div class="socauth-separator-line"></div>
							<div class="socauth-separator-text">{{ text_or }}</div>
							<a class="socauth-separator-link fw-500 br-8" href="/sna-gmail?first=account">
								<img src="https://smobile.ua/image/icons/google.png" alt="{{ text_auth_with_goole }}">
								{{ text_auth_with_goole }}
							</a>
						</div>
					</div>

					<div class="no-registered">


						{{ text_no_account }}<a class="blue-link" href="{{ register_url }}">{{ text_lets_register }}</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
	$('#popup-login-button').on('click', function() {
		$.ajax({
			type: 'post',
			url:  'index.php?route=octemplates/module/oct_popup_login/login',
			dataType: 'json',
			cache: false,
			data: $('#popupLoginForm').serialize(),
			beforeSend: function() {
				masked('body', true);
			},
			complete: function() {
				masked('body', false);
			},
			success: function(json) {
				if (json['warning']) {
					scNotify('danger', json['warning']);
				} else {

					if (json['redirect']) {
						location = json['redirect'];
					} else {
						location = '{{ account_url }}';
					}
				}
			}
		});
	});
</script>
