{{ header }}
<div id="information-information" class="flex-grow-1">
    <div class="breadcrumbs">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb sc-breadcrumb fsz-12">
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-item sc-breadcrumb-item">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item sc-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
            {% if oct_showcase_data.micro is defined and oct_showcase_data.micro %}
            <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement":
                [
                    {% for breadcrumb in breadcrumbs %}
                        {% if loop.first %}
                        {% else %}
                        {
                            "@type": "ListItem",
                            "position": {{ loop.index -1 }},
                            "item":
                            {
                                "@id": "{{ breadcrumb.href }}",
                                "name": "{{ breadcrumb.text }}"
                            }
                        }{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                ]
            }
            </script>
            {% endif %}
        </div>
    </div>
	<main class="main">
        <section class="rules">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 rules__left-block">
                        <div class="rules__our-rules">{{rules_label}}</div>
                        <h2 class="rules__heading">{{rules_heading}}</h2>
                        <p class="rules__desc">
                            {{rules_desc}}
                        </p>
                    </div>
                    <div class="col-12 col-lg-8 rules__right-block">
                        <img src="/catalog/view/theme/oct_showcase/img/about-us/rules.png" alt="{{rules_heading|striptags}}" class="rules__img">
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
            <div class="container">
                <div class="row feature__blocks">
                    <div class="col-12 col-xl-5 feature__left-block">
                        <div class="feature__numbers">
                            <div class="feature__number">
                                <div class="feature__number-value">15+</div>
                                <div class="feature__number-desc">{{feature_years_1_desc}}</div>
                            </div>
                            <div class="feature__number">
                                <div class="feature__number-value">20+</div>
                                <div class="feature__number-desc">{{feature_years_2_desc}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-7 feature__right-block">
                        <div class="feature__our-feature">{{feature_label}}</div>
                        <h2 class="feature__heading">{{feature_heading}}</h2>
                        <p class="feature__desc">{{feature_desc}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="brands">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="brands__about-brands">{{brands_label}}</div>
                        <h2 class="brands__heading">{{brands_heading}}</h2>
                        <p class="brands__desc">{{brands_desc}}</p>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="brands__brand">
                            <a class="brands__img-anchor" href="{{ manufacturers[0].href }}">
                                <img src="/catalog/view/theme/oct_showcase/img/about-us/brand-1.png" alt="{{brands_brand_1_desc}}" class="brands__brand-img">
                            </a>
                            <a href="{{ manufacturers[0].href }}" class="brands__brand-title">{{brands_brand_1_desc}}</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="brands__brand">
                            <a class="brands__img-anchor" href="{{ manufacturers[1].href }}">
                                <img src="/catalog/view/theme/oct_showcase/img/about-us/brand-2.png" alt="{{brands_brand_2_desc}}" class="brands__brand-img">
                            </a>
                            <a href="{{ manufacturers[1].href }}" class="brands__brand-title">{{brands_brand_2_desc}}</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="brands__brand">
                            <a class="brands__img-anchor" href="{{ manufacturers[2].href }}">
                                <img src="/catalog/view/theme/oct_showcase/img/about-us/brand-3.png" alt="{{brands_brand_3_desc}}" class="brands__brand-img">
                            </a>
                            <a href="{{ manufacturers[2].href }}" class="brands__brand-title">{{brands_brand_3_desc}}</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="brands__brand">
                            <a class="brands__img-anchor" href="{{ manufacturers[3].href }}">
                                <img src="/catalog/view/theme/oct_showcase/img/about-us/brand-4.png" alt="{{brands_brand_4_desc}}" class="brands__brand-img">
                            </a>
                            <a href="{{ manufacturers[3].href }}" class="brands__brand-title">{{brands_brand_4_desc}}</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="brands__brand">
                            <a class="brands__img-anchor" href="{{ manufacturers[4].href }}">
                                <img src="/catalog/view/theme/oct_showcase/img/about-us/brand-5.png" alt="{{brands_brand_5_desc}}" class="brands__brand-img">
                            </a>
                            <a href="{{ manufacturers[4].href }}" class="brands__brand-title">{{brands_brand_5_desc}}</a>
                        </div>
                    </div>
                </div>
                <div class="brands__show-all">
                    <a href="{{ manufacturer_page_link }}" class="brands__show-all-anchor">{{brands_show_all}}</a>
                </div>
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 contacts__left-block">
                        <h2 class="contacts__heading">{{contacts_heading}}</h2>
                        <div class="contacts__descs">
                            <p class="contacts__desc">{{contacts_desc_1}}</p>
                            <p class="contacts__desc">{{contacts_desc_2}}</p>
                        </div>
                        <a href="{{ product_special_page_link }}" class="contacts__propositions">{{contacts_btn_text}}</a>
                    </div>
                    <div class="col-12 col-lg-6 contacts__right-block">
                        <p class="contacts__contact-us">{{contacts_contact_us}}</p>
                        <div class="contacts__blocks">
                            <div class="contacts-block contacts__phone">
                                <div class="contacts__phone-label">{{contacts_phone}}</div>
                                <a href="tel:+380678088989" class="contacts__phone-anchor">
                                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#fff" fill-rule="evenodd" clip-rule="evenodd" d="M2.733 1.0433C3.95 -0.166703 5.954 0.0482968 6.973 1.4103L8.235 3.0943C9.065 4.2023 8.991 5.7503 8.006 6.7293L7.768 6.9673C7.74101 7.06721 7.73827 7.17211 7.76 7.2733C7.823 7.6813 8.164 8.5453 9.592 9.9653C11.02 11.3853 11.89 11.7253 12.304 11.7893C12.4083 11.8103 12.516 11.8072 12.619 11.7803L13.027 11.3743C13.903 10.5043 15.247 10.3413 16.331 10.9303L18.241 11.9703C19.878 12.8583 20.291 15.0823 18.951 16.4153L17.53 17.8273C17.082 18.2723 16.48 18.6433 15.746 18.7123C13.936 18.8813 9.719 18.6653 5.286 14.2583C1.149 10.1443 0.354996 6.5563 0.253996 4.7883C0.203996 3.8943 0.625997 3.1383 1.164 2.6043L2.733 1.0433ZM5.773 2.3093C5.266 1.6323 4.322 1.5783 3.79 2.1073L2.22 3.6673C1.89 3.9953 1.732 4.3573 1.752 4.7033C1.832 6.1083 2.472 9.3453 6.344 13.1953C10.406 17.2333 14.157 17.3543 15.607 17.2183C15.903 17.1913 16.197 17.0373 16.472 16.7643L17.892 15.3513C18.47 14.7773 18.343 13.7313 17.525 13.2873L15.615 12.2483C15.087 11.9623 14.469 12.0563 14.085 12.4383L13.63 12.8913L13.1 12.3593C13.63 12.8913 13.629 12.8923 13.628 12.8923L13.627 12.8943L13.624 12.8973L13.617 12.9033L13.602 12.9173C13.5598 12.9565 13.5143 12.9919 13.466 13.0233C13.386 13.0763 13.28 13.1353 13.147 13.1843C12.877 13.2853 12.519 13.3393 12.077 13.2713C11.21 13.1383 10.061 12.5473 8.534 11.0293C7.008 9.5113 6.412 8.3693 6.278 7.5033C6.209 7.0613 6.264 6.7033 6.366 6.4333C6.42213 6.28137 6.50251 6.13953 6.604 6.0133L6.636 5.9783L6.65 5.9633L6.656 5.9573L6.659 5.9543L6.661 5.9523L6.949 5.6663C7.377 5.2393 7.437 4.5323 7.034 3.9933L5.773 2.3093Z"></path>
                                    </svg>
                                    <span>+38 (067) 808 89-89</span>
                                </a>
                            </div>
                            <div class="contacts-block contacts__social">
                                <div class="contacts__social-label">{{contacts_write_us}}</div>
                                <div class="contacts__social-links">
                                    <a rel="noopener noreferrer" href="https://t.me/+380678088989" target="_blank" class="contacts__social-link">
                                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59184 10.2966C4.63223 10.3093 4.67342 10.3192 4.71513 10.3262C4.97937 10.9636 5.24213 11.6017 5.5034 12.2404C5.97319 13.3897 6.44672 14.5734 6.55039 14.9137C6.68022 15.3325 6.81658 15.6175 6.96601 15.8125C7.04353 15.9119 7.13226 15.9999 7.23687 16.0668C7.29179 16.1009 7.35001 16.1291 7.41059 16.151C7.70946 16.2657 7.98218 16.2179 8.1531 16.1596C8.25345 16.1247 8.34891 16.0765 8.43703 16.0162L8.4417 16.0142L11.0811 14.3295L14.1306 16.7218C14.1754 16.7568 14.224 16.7865 14.2763 16.8107C14.6424 16.9732 14.9973 17.0306 15.3317 16.9847C15.6642 16.9369 15.9285 16.7945 16.1255 16.6329C16.3516 16.446 16.532 16.2076 16.6523 15.9368L16.6607 15.9158L16.6635 15.9081L16.6654 15.9043V15.9024L16.6663 15.9014C16.6816 15.86 16.6941 15.8175 16.7037 15.7743L19.4869 1.40839C19.4946 1.36225 19.499 1.31559 19.5 1.2688C19.5 0.848098 19.345 0.447479 18.9816 0.205577C18.6697 -0.00190305 18.3232 -0.0114645 18.1037 0.00574588C17.8683 0.0248685 17.6498 0.0841486 17.5032 0.131955C17.4212 0.15904 17.3402 0.189017 17.2603 0.221832L17.25 0.226612L1.63954 6.49501L1.63767 6.49596C1.58473 6.51554 1.53269 6.53755 1.48169 6.56194C1.35786 6.61882 1.23911 6.68664 1.12678 6.76464C0.914768 6.91284 0.426298 7.32015 0.509422 7.99327C0.5748 8.5287 0.933448 8.85856 1.15293 9.01728C1.27248 9.10429 1.38643 9.16644 1.47049 9.20755C1.50784 9.22667 1.58817 9.25918 1.62272 9.27448L1.63206 9.27735L4.59184 10.2966ZM17.7964 1.54607H17.7946L17.7703 1.55659L2.14108 7.83359L2.1168 7.84315L2.10746 7.84602C2.07884 7.85735 2.05079 7.87011 2.0234 7.88427C2.04952 7.89928 2.07632 7.913 2.10372 7.92538L5.03828 8.93697C5.0901 8.95662 5.1401 8.98093 5.18772 9.00963L14.8796 3.20114L14.8889 3.19636C14.9268 3.17329 14.9654 3.15161 15.0048 3.13134C15.072 3.09596 15.1794 3.04433 15.3008 3.00609C15.3849 2.97931 15.6343 2.90378 15.9032 2.9927C16.0461 3.03834 16.1735 3.1244 16.2707 3.24096C16.3679 3.35752 16.4309 3.49983 16.4524 3.65147C16.4872 3.78414 16.4882 3.92372 16.4552 4.05687C16.3899 4.31981 16.2105 4.52442 16.0471 4.68123C15.907 4.81509 14.0895 6.60879 12.2972 8.37954L9.85668 10.789L9.42238 11.2193L14.9067 15.5238C14.9808 15.5554 15.0611 15.5685 15.1411 15.562C15.1814 15.5563 15.2193 15.5391 15.2504 15.5123C15.2882 15.4795 15.3207 15.4408 15.3466 15.3975L15.3485 15.3966L18.0477 1.46289C17.9628 1.48429 17.8794 1.51177 17.7983 1.54512L17.7964 1.54607ZM9.89403 13.3964L8.79941 12.5378L8.53416 14.2636L9.89403 13.3964ZM7.79539 10.8339L8.88347 9.75828L11.324 7.34692L12.2327 6.45007L6.14318 10.0996L6.17587 10.178C6.55993 11.1068 6.93975 12.0375 7.31532 12.9699L7.57964 11.2489C7.60377 11.0893 7.67978 10.9438 7.79539 10.8339Z" fill="#FAFAFA"></path>
                                        </svg>
                                    </a>
                                    <a rel="noopener noreferrer" href="https://www.instagram.com/m/smobile_ua" target="_blank" class="contacts__social-link">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.0007 2.06751C12.5845 2.06751 12.8905 2.07719 13.9113 2.12373C14.525 2.13124 15.1329 2.24393 15.7085 2.45691C16.1259 2.6179 16.505 2.86451 16.8214 3.18087C17.1378 3.49724 17.3844 3.87634 17.5454 4.29378C17.7583 4.8694 17.871 5.47729 17.8785 6.09101C17.9246 7.11175 17.9348 7.41774 17.9348 10.0016C17.9348 12.5855 17.9251 12.8915 17.8785 13.9122C17.871 14.5259 17.7583 15.1338 17.5454 15.7094C17.3844 16.1269 17.1378 16.506 16.8214 16.8223C16.505 17.1387 16.1259 17.3853 15.7085 17.5463C15.1329 17.7593 14.525 17.872 13.9113 17.8795C12.891 17.9256 12.585 17.9357 10.0007 17.9357C7.41633 17.9357 7.11034 17.926 6.09006 17.8795C5.47634 17.872 4.86846 17.7593 4.29283 17.5463C3.87539 17.3853 3.49629 17.1387 3.17992 16.8223C2.86356 16.506 2.61695 16.1269 2.45596 15.7094C2.24298 15.1338 2.13029 14.5259 2.12278 13.9122C2.0767 12.8915 2.06656 12.5855 2.06656 10.0016C2.06656 7.41774 2.07624 7.11175 2.12278 6.09101C2.13029 5.47729 2.24298 4.8694 2.45596 4.29378C2.61695 3.87634 2.86356 3.49724 3.17992 3.18087C3.49629 2.86451 3.87539 2.6179 4.29283 2.45691C4.86846 2.24393 5.47634 2.13124 6.09006 2.12373C7.1108 2.07765 7.41679 2.06751 10.0007 2.06751ZM10.0007 0.32373C7.37393 0.32373 7.04306 0.33479 6.0108 0.381795C5.2076 0.397771 4.41292 0.549851 3.66057 0.831565C3.01518 1.07473 2.43061 1.45579 1.94767 1.94815C1.45485 2.43128 1.07347 3.01617 0.830155 3.66198C0.54844 4.41433 0.396361 5.209 0.380385 6.01221C0.334302 7.04354 0.323242 7.37442 0.323242 10.0011C0.323242 12.6279 0.334302 12.9588 0.381307 13.991C0.397283 14.7942 0.549362 15.5889 0.831076 16.3412C1.07412 16.987 1.45519 17.5719 1.94767 18.0551C2.43088 18.5475 3.01577 18.9286 3.66149 19.1717C4.41384 19.4534 5.20852 19.6054 6.01172 19.6214C7.04398 19.6675 7.37347 19.6795 10.0016 19.6795C12.6297 19.6795 12.9592 19.6684 13.9914 19.6214C14.7946 19.6054 15.5893 19.4534 16.3417 19.1717C16.9843 18.9225 17.5679 18.5421 18.0552 18.0545C18.5424 17.567 18.9225 16.9831 19.1712 16.3403C19.4529 15.588 19.605 14.7933 19.6209 13.9901C19.667 12.9588 19.6781 12.6279 19.6781 10.0011C19.6781 7.37442 19.667 7.04354 19.62 6.01129C19.604 5.20808 19.452 4.41341 19.1702 3.66106C18.9272 3.01533 18.5461 2.43045 18.0537 1.94723C17.5704 1.45475 16.9856 1.07369 16.3398 0.830643C15.5875 0.548929 14.7928 0.396849 13.9896 0.380873C12.9583 0.33479 12.6274 0.32373 10.0007 0.32373Z" fill="#FAFAFA"></path>
                                            <path d="M10.0028 5.03345C9.0199 5.03345 8.05908 5.32491 7.24184 5.87097C6.42459 6.41704 5.78763 7.19318 5.41149 8.10125C5.03536 9.00933 4.93694 10.0085 5.12869 10.9725C5.32045 11.9366 5.79375 12.8221 6.48876 13.5171C7.18377 14.2121 8.06927 14.6854 9.03327 14.8771C9.99728 15.0689 10.9965 14.9705 11.9046 14.5943C12.8126 14.2182 13.5888 13.5812 14.1348 12.764C14.6809 11.9467 14.9724 10.9859 14.9724 10.003C14.9724 8.68502 14.4488 7.42098 13.5168 6.48901C12.5848 5.55703 11.3208 5.03345 10.0028 5.03345ZM10.0028 13.2288C9.36479 13.2288 8.74111 13.0396 8.21063 12.6852C7.68015 12.3307 7.26669 11.8269 7.02253 11.2375C6.77838 10.6481 6.7145 9.99945 6.83897 9.37371C6.96344 8.74796 7.27066 8.17318 7.7218 7.72204C8.17294 7.27091 8.74772 6.96368 9.37347 6.83921C9.99921 6.71474 10.6478 6.77862 11.2373 7.02278C11.8267 7.26693 12.3305 7.68039 12.685 8.21087C13.0394 8.74135 13.2286 9.36503 13.2286 10.003C13.2286 10.8586 12.8887 11.6791 12.2838 12.284C11.6788 12.889 10.8583 13.2288 10.0028 13.2288Z" fill="#FAFAFA"></path>
                                            <path d="M15.1671 5.99739C15.8085 5.99739 16.3284 5.47746 16.3284 4.83609C16.3284 4.19473 15.8085 3.6748 15.1671 3.6748C14.5258 3.6748 14.0059 4.19473 14.0059 4.83609C14.0059 5.47746 14.5258 5.99739 15.1671 5.99739Z" fill="#FAFAFA"></path>
                                        </svg>
                                    </a>
                                    <a rel="noopener noreferrer" href="https://m.me/249656211569655" target="_blank" class="contacts__social-link">
                                        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.5 13L8.495 10.605C9.132 9.842 9.45 9.46 9.833 9.46C10.216 9.46 10.535 9.842 11.171 10.605L11.829 11.395C12.465 12.158 12.783 12.54 13.167 12.54C13.55 12.54 13.868 12.158 14.505 11.395L16.5 9" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M11.5 21C17.023 21 21.5 16.523 21.5 11C21.5 5.477 17.023 1 11.5 1C5.977 1 1.5 5.477 1.5 11C1.5 12.379 1.78 13.693 2.284 14.888C2.563 15.548 2.702 15.878 2.72 16.128C2.737 16.378 2.663 16.652 2.516 17.201L1.5 21L5.299 19.984C5.848 19.837 6.122 19.764 6.372 19.78C6.622 19.798 6.952 19.937 7.612 20.216C8.84266 20.7343 10.1647 21.0009 11.5 21Z" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		{# <div class="row">
			<div class="col-12 sc-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		<div class="row">
			{{ column_left }}
			{% if column_left and column_right %}
				{% set class = 'col-xl-6' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-xl-9' %}
			{% else %}
				{% set class = 'col-xl-12' %}
			{% endif %}
			<div id="content" class="{{ class }}">
				<div class="content-block p-3 p-md-4 mobile-no-radius content-block-text no-hover-shadow">
					{{ description }}
				</div>
			</div>
			{{ column_right }}
		</div>
    	{{ content_bottom }} #}
	</main>
</div>
{{ footer }}
