{{ header }}


<div class="km-filter-count-cat" style="display: none">
    {{ filter_total }}
</div>

<div id="product-category" class="container-fluid container-km container-lg flex-grow-1">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb sc-breadcrumb fsz-12">
            {% for breadcrumb in breadcrumbs %}
                {% if loop.last %}
                    <li class="breadcrumb-item sc-breadcrumb-item fsz-14">{{ breadcrumb.text }}</li>
                {% else %}
                    <li class="breadcrumb-item sc-breadcrumb-item fsz-14"><a href="{{ breadcrumb.href }}" class="text-decoration-none">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% if oct_showcase_data.micro is defined and oct_showcase_data.micro %}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement":
                [
            {% for breadcrumb in breadcrumbs %}
                {% if loop.first %}
                {% else %}
                {
                    "@type": "ListItem",
                    "position": {{ loop.index -1 }},
                    "item":
                    {
                        "@id": "{{ breadcrumb.href }}",
                        "name": "{{ breadcrumb.text }}"
                    }
                }{% if not loop.last %},{% endif %}
                {% endif %}
            {% endfor %}
            ]
        }
        </script>
    {% endif %}
    <main class="main">


        {% if categories %}
            {#                    <div class="sc-subcategories row g-2 pb-2">#}
            {#                        {% for category in categories %}#}
            {#                            <div class="col-sm-4 col-md-3 col-lg-2">#}
            {#                                <a href="{{ category.href }}" class="sc-subcategories-item content-block d-flex flex-column align-items-center text-center h-100">#}
            {#                                    <img src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}" width="{{ category.width }}" height="{{ category.height }}" class="img-fluid mb-3" />#}
            {#                                    <span class="fsz-12 fw-500">{{ category.name }}</span>#}
            {#                                </a>#}
            {#                            </div>#}
            {#                        {% endfor %}#}
            {#                    </div>#}

            <div class="sc-subcategories sc-subcategories-km">
                {% for category in categories %}
                    <div class="">
                        <a href="{{ category.href }}" class="">
                            <img src="{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-fluid cat-list-item-img" />
                            <span class="fsz-16 fw-400 cat-list-item-title">{{ category.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>


            <script>
                $('.sc-subcategories').slick({
                    dots: true,
                    infinite: false,
                    speed: 450,
                    slidesToShow: 5,
                    slidesToScroll: 3,
                    autoplaySpeed: 3500,
                    centerPadding: '25px',
                    prevArrow: '<button type="button" class="slick-custom-arrow slick-prev"><svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 1L1 6L6 11" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>',
                    nextArrow: '<button type="button" class="slick-custom-arrow slick-next"><svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></button>',
                    responsive: [
                        {
                            breakpoint: 1441,
                            settings: {
                                slidesToScroll: 2,
                                slidesToShow: 4,
                            }
                        },
                        {
                            breakpoint: 1201,
                            settings: {
                                slidesToScroll: 2,
                                slidesToShow: 3,
                                dots: false,
                            }
                        },
                        {
                            breakpoint: 769,
                            settings: {
                                slidesToScroll: 2,
                                slidesToShow: 2,
                                centerPadding: '8px',
                                infinite: true,
                                dots: false,
                            }
                        },
                    ]
                })
            </script>

        {% endif %}

        <div class="row">
            <div class="col-12 sc-page-title cat-sc-page-title fsz-48 text-center">
                <h1>{{ heading_title }}</h1>
                {% if product_total %}
                    <div class="product_total fsz-16">{{ product_total_text }}</div>
                {% endif %}
            </div>
        </div>
        <div class="content-top-box">{{ content_top }}</div>
        <div class="row">
            {{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-xl-6 is-cols' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-xl-9' %}
            {% else %}
                {% set class = 'col-xl-12 no-col' %}
            {% endif %}
            <div id="content" class="{{ class }} sc-category">
                {% if oct_showcase_data.category_desc_position is defined and oct_showcase_data.category_desc_position == 'top' %}
                    {% if thumb or description %}
                        <div class="row sc-category-description-row mb-2">
                            <div class="col-12">
                                <div class="sc-category-description content-block content-block-text">
                                    <div class="d-flex flex-column flex-md-row">
                                        {% if thumb %}
                                            <div class="sc-category-description-img">
                                                <img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" width="{{ cat_image_width }}" height="{{ cat_image_height }}" />
                                            </div>
                                        {% endif %}
                                        {% if description %}
                                            <div id="sc-category-description">
                                                <div class="sc-category-description-text{% if thumb %} pt-3 pt-md-0 ps-md-3{% endif %}">
                                                    {{ description }}
                                                    <!-- if button enabled -->
                                                    {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                                        <div class="sc-category-description-text-opacity"></div>
                                                    {% endif %}
                                                    <!-- end if -->
                                                </div>
                                                <!-- CAT PAGES START -->
                                                {% if categories_page is defined and categories_page is not empty %}
                                                    <div class="sc-category-categories_page-text mt-3">
                                                        <ul class="category-landing-links list-unstyled ps-0">
                                                            {% for oct_page in categories_page %}
                                                                {% if oct_page.page_links is not empty %}
                                                                    <li class="category-landing-links-item">
                                                                        <span class="category-landing-links-item-title">{{ oct_page.page_group[language_id] }}</span>
                                                                        {% for link in oct_page.page_links %}
                                                                            <a href="{{ link[language_id].link }}" class="blue-link d-flex-inline align-items-center" title="{{ link[language_id].title }}">{{ link[language_id].title }}</a>
                                                                        {% endfor %}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                <!-- CAT PAGES END -->
                                                <!-- if button enabled -->
                                                {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                                    <button id="oct-sc-category-more" class="sc-btn sc-btn-secondary br-4 mt-3 ms-md-3"><span class="sc-btn-text">{{ oct_expand }}</span></button>
                                                {% endif %}
                                                <!-- end if -->
                                            </div>
                                            <!-- if button enabled -->
                                        {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                            <style>
                                                .sc-category-description-text {
                                                    height: 220px;
                                                    display: block;
                                                    overflow: hidden;
                                                }
                                            </style>
                                            <script>
                                                $('#oct-sc-category-more').click(function(e) {
                                                    e.stopPropagation();

                                                    const curHeight = $('.sc-category-description-text').innerHeight();
                                                    $('.sc-category-description-text').css('height', 'auto');
                                                    const autoHeight = $('.sc-category-description-text').innerHeight();

                                                    $('.sc-category-description-text').height(curHeight).animate({
                                                        'height': autoHeight
                                                    });

                                                    $('.sc-category-description-text').addClass('expanded');
                                                    $(this).css('display', 'none');
                                                });
                                            </script>
                                        {% endif %}
                                            <!-- end if -->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if products %}
                {% if oct_showcase_data.category_view_sort_oder is defined and(oct_showcase_data.category_view_sort_oder or oct_showcase_data.category_view_sort_oder == 'on') %}
                    <div class="row sc-category-sort-row pb-sm-2">
                        <div class="col-12">
                            <div class="sc-category-sort d-flex justify-content-end">
                                <div class="sc-category-sort-limit d-flex align-items-center">
                                    {#                                        <div class="sc-category-sort-title pe-3 fw-700 dark-text d-none d-sm-block">{{ text_sort }}</div>#}



                                    <div class="cat-sort-filter-wrapper">
                                        <div class="filter-button-wrapper" data-ocf="mobile">
                                                <span>
                                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16.046 1H2.45398C2.26174 0.999836 2.07352 1.05509 1.91187 1.15914C1.75022 1.26319 1.62199 1.41164 1.54253 1.58669C1.46308 1.76175 1.43577 1.956 1.46387 2.14618C1.49197 2.33636 1.57429 2.51441 1.70098 2.659L7.00298 8.717C7.16245 8.89948 7.25022 9.13366 7.24998 9.376V14.25C7.24998 14.3276 7.26806 14.4042 7.30277 14.4736C7.33748 14.543 7.38788 14.6034 7.44998 14.65L10.45 16.9C10.5243 16.9557 10.6126 16.9896 10.7051 16.998C10.7976 17.0063 10.8905 16.9887 10.9736 16.9472C11.0566 16.9057 11.1265 16.8419 11.1753 16.7629C11.2241 16.6839 11.25 16.5929 11.25 16.5V9.376C11.2497 9.13366 11.3375 8.89948 11.497 8.717L16.799 2.658C17.365 2.012 16.905 1 16.046 1Z" stroke="#FAFAFA" stroke-width="1.5" stroke-linecap="round"/>
                                                    </svg>
                                                    Фільтри
                                                </span>
                                        </div>

                                        <div class="cat-sort-wrapper">
                                            {% for sorts in sorts %}
                                                {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                    <div>
                                                        <span class="text-sort-by" >Сортувати за / </span>
                                                        <span class="open-sort-list">
                                                            {{ sorts.text }}
                                                            <span class="sort-arrow"><img src="/image/icons/sort-arrow.png" alt="Sort arrow"></span>
                                                        </span>

                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            <ul class="cat-sort-items">
                                                {% for sorts in sorts %}
                                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                        <li class="sort-active-item"><span>{{ sorts.text }}</span></li>
                                                    {% else %}
                                                        <li class="sort-item"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <script>
                                        $('.open-sort-list').click(function(){
                                            $('.cat-sort-wrapper').toggleClass('active');
                                        });

                                        $(document).click(function(event) {
                                            if (!$(event.target).closest('.cat-sort-wrapper').length) {
                                                // Видаляємо клас active, якщо клік був поза .cat-sort-wrapper
                                                $('.cat-sort-wrapper').removeClass('active');
                                            }
                                        });

                                        $('.filter-button-wrapper').click(function(){
                                            // $('.ocf-btn-mobile-fixed .ocf-btn.ocf-btn-default').click();
                                            console.log('3123111')
                                        });
                                    </script>

                                    <select id="input-sort" class="d-none sc-category-sort-select fsz-12 br-4 light-text fw-600" onchange="location = this.value;" aria-label="Sort select">
                                        {% for sorts in sorts %}
                                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                            {% else %}
                                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>


                                    {#                                        <select id="input-limit" class="sc-category-limit-select fsz-12 br-4 light-text fw-600" onchange="location = this.value;" aria-label="Limit select">#}
                                    {#                                            {% for limits in limits %}#}
                                    {#                                                {% if limits.value == limit %}#}
                                    {#                                                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
                                    {#                                                {% else %}#}
                                    {#                                                    <option value="{{ limits.href }}">{{ limits.text }}</option>#}
                                    {#                                                {% endif %}#}
                                    {#                                            {% endfor %}#}
                                    {#                                        </select>#}
                                </div>
                                {#                                    <div class="sc-category-appearance btn-group d-none d-md-flex">#}
                                {#                                        <button type="button" aria-label="Grid view" id="grid-view" class="sc-btn sc-btn-secondary sc-btn-with-icon sc-category-appearance-btn br-4 active" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ button_grid }}" data-bs-original-title="{{ button_grid }}">#}
                                {#                                            <span class="sc-btn-icon sc-btn-icon-catalog"></span>#}
                                {#                                        </button>#}
                                {#                                        <button type="button" aria-label="List view" id="list-view" class="sc-btn sc-btn-secondary sc-btn-with-icon sc-category-appearance-btn br-4" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ button_list }}" data-bs-original-title="{{ button_list }}">#}
                                {#                                            <span class="sc-btn-icon sc-btn-icon-list"></span>#}
                                {#                                        </button>#}
                                {#                                        <button type="button" aria-label="Price view" id="price-view" class="sc-btn sc-btn-secondary sc-btn-with-icon sc-category-appearance-btn br-4" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ oct_pricelist }}" data-bs-original-title="{{ oct_pricelist }}">#}
                                {#                                            <span class="sc-btn-icon sc-btn-icon-price"></span>#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                            </div>
                            <script>
                                // window.addEventListener('DOMContentLoaded', () => {
                                //     switchCategoryDisplay();
                                // });
                            </script>
                        </div>
                    </div>
                {% endif %}
                    <div class="row gy-2 g-sm-2 sc-module sc-category-products km-category-products" >
                        {% for product in products %}
                            <div class="product-layout sc-module-col product-grid " data-pid="{{ product.product_id }}">
                                <div class="content-block h-100 d-flex flex-column p-0  {% if product.oct_grayscale %} sc-no-stock{% endif %}">
                                    <div class="{# sc-module-img #} position-relative mb-12 product-cat-img-wrapper">
                                        <a href="{{ product.href }}" title="{{ product.name }}">
                                            <img
                                                    src="{{ product.thumb }}"
                                                    {% if oct_lazyload is defined and oct_lazyload %}
                                                        data-srcset="{{ product.thumb }} 100w"
                                                        srcset="{{ oct_lazy_image }} 100w"
                                                        sizes="100vw"
                                                        class="img-fluid oct-lazy aspect-r-3-4"
                                                    {% else %}
                                                        class="img-fluid"
                                                    {% endif %}
                                                    alt="{{ product.name }}"
                                                    width="{{ product.width }}"
                                                    height="{{ product.height }}"/>
                                        </a>
                                        <div class="sc-module-stickers d-flex flex-d-col mt-3">
                                            {% if oct_sticker_you_save and product.you_save %}
                                                <div class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-red sc-module-sticker-infinity">{{ product.you_save }}</div>
                                            {% endif %}

                                            {% if not product.quantity %}
                                                <div class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-green sc-module-sticker-infinity hidden">{{ oct_product_stock }}</div>
                                            {% endif %}

                                            {% if product.oct_stickers is not empty %}
                                                {% for key, oct_sticker in product.oct_stickers %}
                                                    {% if oct_sticker is not empty and oct_sticker is iterable %}
                                                        <div class="sc-module-sticker sc-module-sticker-image pe-0 py-0 order-1">
                                                            <img src="{{ oct_sticker.image }}" alt="{{ oct_sticker.title }}" data-bs-html="true" data-bs-placement="top" data-bs-toggle="popover" data-bs-trigger="hover" title="{{ oct_sticker.title }}" data-bs-content="{{ oct_sticker.description }}" width="24" height="24" />
                                                        </div>
                                                    {% elseif oct_sticker is not empty %}
                                                        <div class="sc-module-sticker br-4 fsz-10 fw-500 sc-module-sticker-{{ key }} order-0">
                                                            {{ oct_sticker }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="sc-module-btns d-flex flex-column position-absolute">
                                            {% if oct_popup_view_status %}
                                                <button type="button" aria-label="Quick view" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4" title="{{ oct_popup_view }}" onclick="octPopUpView('{{ product.product_id }}')">
                                                    <span class="sc-btn-icon sc-btn-icon-viewed"></span>
                                                </button>
                                            {% endif %}
                                            <button type="button" aria-label="Wishlist" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                                <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
                                            </button>
                                            <button type="button" aria-label="Compare" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-compare-btn" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                                <span class="sc-btn-icon sc-btn-icon-compare"></span>
                                            </button>
                                        </div>

                                        {% if product.can_buy is not empty and product.can_buy %}
                                            <div class="popup-cart-button">
                                                <button data-product-id="{{ product.product_id }}" type="button" aria-label="To cart" class="km-grid-add-to-cart sc-btn sc-btn-with-icon br-4 sc-module-cart-btn">
                                                    {#                                            <img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">#}

                                                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.25 5.94922V6.69922H12H15C15.0663 6.69922 15.1299 6.72556 15.1768 6.77244C15.2237 6.81933 15.25 6.88291 15.25 6.94922V17.9492C15.25 18.546 15.0129 19.1183 14.591 19.5402C14.169 19.9622 13.5967 20.1992 13 20.1992H3C2.40326 20.1992 1.83097 19.9622 1.40901 19.5402C0.987053 19.1183 0.75 18.546 0.75 17.9492V6.94922C0.75 6.88292 0.776339 6.81933 0.823223 6.77244C0.870108 6.72556 0.933697 6.69922 1 6.69922H4H4.75V5.94922V4.94922C4.75 4.08727 5.09241 3.26061 5.7019 2.65112C6.3114 2.04163 7.13805 1.69922 8 1.69922C8.86195 1.69922 9.6886 2.04163 10.2981 2.65112C10.9076 3.26061 11.25 4.08727 11.25 4.94922V5.94922ZM10 6.69922H10.75V5.94922V4.94922C10.75 4.21987 10.4603 3.5204 9.94454 3.00468C9.42882 2.48895 8.72935 2.19922 8 2.19922C7.27065 2.19922 6.57118 2.48895 6.05546 3.00467C5.53973 3.5204 5.25 4.21987 5.25 4.94922V5.94922V6.69922H6H10ZM2 7.19922H1.25V7.94922V17.9492C1.25 18.4133 1.43437 18.8585 1.76256 19.1867C2.09075 19.5148 2.53587 19.6992 3 19.6992H13C13.4641 19.6992 13.9092 19.5148 14.2374 19.1867C14.5656 18.8585 14.75 18.4133 14.75 17.9492V7.94922V7.19922H14H12H11.25V7.94922V8.94922C11.25 9.01552 11.2237 9.07911 11.1768 9.126C11.1299 9.17288 11.0663 9.19922 11 9.19922C10.9337 9.19922 10.8701 9.17288 10.8232 9.126C10.7763 9.07911 10.75 9.01552 10.75 8.94922V7.94922V7.19922H10H6H5.25V7.94922V8.94922C5.25 9.01552 5.22366 9.07911 5.17678 9.126C5.12989 9.17288 5.0663 9.19922 5 9.19922C4.9337 9.19922 4.87011 9.17288 4.82322 9.126C4.77634 9.07911 4.75 9.01552 4.75 8.94922V7.94922V7.19922H4H2Z" stroke="#001F3F" stroke-width="1.5"/>
                                                    </svg>



                                                    <span class="sc-btn-text">{{ button_cart }}</span>
                                                </button>
                                                <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                                            </div>
                                            <script>
                                                $('.km-category-products .km-grid-add-to-cart[data-product-id="{{ product.product_id }}"]').on('click', function() {
                                                    fbq('track', 'AddToCart', {
                                                        content_type: 'product',
                                                        content_ids: ['{{ product.product_id }}'],
                                                        value: {{ product.price_for_ads | number_format(2, '.', '') }},
                                                        currency: 'UAH'
                                                    });
                                                });
                                            </script>
                                        {% endif %}

                                    </div>
                                    <div class="sc-module-caption d-flex flex-column justify-content-between h-100 max-w-100">
                                        <div class="sc-module-info">
                                            <a href="{{ product.href }}" class="sc-module-title dark-text fw-500 fsz-16 mt-0 mb5">{{ product.name }}</a>
                                            <div class="sc-module-product-info">

                                                {% if product.oct_model is not empty %}
                                                    <div class="sc-module-model light-text fsz-16"><span>{{ oct_view_model_cat }}</span>{{ product.oct_model }}</div>
                                                {% endif %}

                                                {% if product.rating is not same as(false) %}
                                                    <div class="sc-module-rating d-flex align-items-center mt-2 mb-1 br-4">
                                                        <div class="sc-module-rating-stars d-flex align-items-center">
                                                            {% for i in 1..5 %}
                                                                {% if product.rating < i %}
                                                                    <span class="sc-module-rating-star"></span>
                                                                {% else %}
                                                                    <span class="sc-module-rating-star sc-module-rating-star-is"></span>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="sc-module-reviews d-flex align-items-center">
                                                            <img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--module-comments-icon" alt="" width="12" height="12" />
                                                            <span class="dark-text fsz-12 ps-1">{{ product.reviews }}</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="sc-module-price-km">
                                            <div class="sc-module-price-km-prices">
                                                {% if not product.special %}
                                                    <div class="km-price-regular fw-500">{{ product.price }}</div>
                                                {% else %}
                                                    <div class="km-price-linethrow fw-400">{{ product.price }}</div>
                                                    <div class="km-price-special">{{ product.special }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="sc-module-price-km-usdt fw-400">
                                                {{ product.usdt_price }} usdt
                                            </div>
                                        </div>

                                        {#                                        {% if product.price %}#}
                                        {#                                        <div class="sc-module-price-box mt-auto">#}
                                        {#                                            {% if product.tax %}#}
                                        {#                                                <div class="price-tax fw-300 fsz-12 light-text hidden">#}
                                        {#                                                    {{ text_tax }} {{ product.tax }}#}
                                        {#                                                </div>#}
                                        {#                                            {% endif %}#}

                                        {#                                            <div class="d-flex justify-content-between sc-module-cart">#}
                                        {#                                                {% if not product.special %}#}
                                        {#                                                    <div class="category-price-block">#}
                                        {#                                                        <span class="sc-module-price fw-700 dark-text mt-1">{{ product.price }}</span>#}
                                        {#                                                        {% if product.usdt_price > 0 %}#}
                                        {#                                                            <div class="usdnt-price-grid">{{ product.usdt_price }} <span>usdt</span></div>#}
                                        {#                                                        {% endif %}#}
                                        {#                                                    </div>#}
                                        {#                                                {% else %}#}
                                        {#                                                    <div class="d-flex flex-d-col">#}
                                        {#                                                        <span class="sc-module-price-old light-text fsz-14">{{ product.price }}</span>#}
                                        {#                                                        <span class="sc-module-price fw-700 dark-text mt-1">{{ product.special }}</span>#}
                                        {#                                                        {% if product.usdt_price > 0 %}#}
                                        {#                                                            <div class="usdnt-price-grid">{{ product.usdt_price }} <span>usdt</span></div>#}
                                        {#                                                        {% endif %}#}
                                        {#                                                    </div>#}
                                        {#                                                {% endif %}#}

                                        {#                                                {% if product.can_buy is not empty and product.can_buy %}#}
                                        {#                                                    <div class="sc-module-cart d-flex align-items-stretch justify-content-between">#}
                                        {#                                                        {% if product.can_buy is not empty and product.can_buy %}#}
                                        {#                                                            <button type="button" aria-label="To cart" class="km-grid-add-to-cart sc-btn sc-btn-primary sc-btn-with-icon br-4{% if oct_showcase_data.category_view_quantity is defined and oct_showcase_data.category_view_quantity and product.can_buy is not empty %} sc-module-cart-btn{% else %} sc-category-cart-btn" onclick="cart.add('{{ product.product_id }}');{% endif %}">#}
                                        {#                                                                <img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">#}
                                        {#                                                                <span class="sc-btn-text">{{ (product.stock and not product.can_buy) ? product.stock : button_cart }}</span>#}
                                        {#                                                            </button>#}
                                        {#                                                        {% endif %}#}
                                        {#                                                        <input type="hidden" name="product_id" value="{{ product.product_id }}" />#}
                                        {#                                                    </div>#}
                                        {#                                                {% endif %}#}
                                        {#                                            </div>#}

                                        {#                                        </div>#}
                                        {#                                        {% endif %}#}
                                    </div>
                                    {#                                    <div class="sc-module-cart d-flex align-items-stretch justify-content-between">#}
                                    {#                                        {% if product.can_buy is not empty and product.can_buy %}#}
                                    {#                                            {% if oct_showcase_data.category_view_quantity is defined and oct_showcase_data.category_view_quantity and product.can_buy is not empty %}#}
                                    {#                                                <div class="sc-module-quantity d-flex align-items-center justify-content-center py-1 br-12">#}
                                    {#                                                    <button type="button" aria-label="Minus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center sc-minus">#}
                                    {#                                                        <span class="minus"></span>#}
                                    {#                                                    </button>#}
                                    {#                                                    <input type="text" class="form-control" name="quantity" value="1" aria-label="Quantity" inputmode="numeric">#}
                                    {#                                                    <button type="button" aria-label="Plus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center sc-plus">#}
                                    {#                                                        <span class="plus"></span>#}
                                    {#                                                    </button>#}
                                    {#                                                </div>#}
                                    {#                                            {% endif %}#}
                                    {#                                            <button type="button" aria-label="To cart" class="sc-btn sc-btn-primary sc-btn-with-icon br-4{% if oct_showcase_data.category_view_quantity is defined and oct_showcase_data.category_view_quantity and product.can_buy is not empty %} sc-module-cart-btn{% else %} sc-category-cart-btn" onclick="cart.add('{{ product.product_id }}');{% endif %}">#}
                                    {#                                                <img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">#}
                                    {#                                                <span class="sc-btn-text">{{ (product.stock and not product.can_buy) ? product.stock : button_cart }}</span>#}
                                    {#                                            </button>#}
                                    {#                                        {% endif %}#}
                                    {#                                        <input type="hidden" name="product_id" value="{{ product.product_id }}" />#}
                                    {#                                    </div>#}
                                    {% if product.can_buy != 1 %}

                                        <button style="width: 100%!important;" onclick="octStockNotifier('{{ product.product_id }}');" type="button" class="fsz-12 sc-btn sc-btn-primary br-4 sc-stock-notifier-btn">
                                            <span class="sc-btn-text">{{ oct_stock_notifier_text }}</span>
                                        </button>

                                    {% endif %}

                                    {% if product.oct_atributes is defined and product.oct_atributes %}
                                        <div class="sc-category-attr p-3 fsz-10 dark-text d-none d-md-block">
                                            {% for attribute in product.oct_atributes %}
                                                <div class="sc-category-attr-item">
                                                    <span class="fw-500">{{ attribute.name }}:</span> {{ attribute.text }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% if oct_showcase_data.category_show_more is defined and oct_showcase_data.category_show_more %}
                    <div class="sc-module-showmore d-flex justify-content-center py-4 oct-load-more">
                        <button class="sc-btn sc-btn-primary br-4 oct-load-more-button">
                            <span class="sc-btn-icon sc-btn-icon-showmore"></span>
                            <span class="sc-btn-text">{{ oct_show_more }}</span>
                        </button>
                    </div>
                {% endif %}
                    {{ pagination }}
                {% if oct_showcase_data.category_show_more is defined and oct_showcase_data.category_show_more %}
                    <script>
                        window.addEventListener('DOMContentLoaded', () => {
                            let scShowMoreBtn = document.querySelector('.oct-load-more-button');
                            octCheckPagination();

                            scShowMoreBtn.addEventListener('click', () => {
                                octLoadMore({% if oct_lazyload is defined and oct_lazyload %}1{% endif %});
                            });
                        });
                    </script>
                {% endif %}
                {% else %}
                    <div class="content-block-p24">
                        <p>{{ text_empty }}</p>
                        <a href="{{ continue }}" class="sc-btn sc-btn-primary mt-3 br-4 d-inline-flex">{{ button_continue }}</a>
                    </div>
                {% endif %}
                {% if oct_showcase_data.category_desc_position is defined and oct_showcase_data.category_desc_position == 'bottom' %}
                    {% if thumb or description %}
                        <div class="row sc-category-description-row mt-3 mt-md-4">
                            <div class="col-12">
                                <div class="sc-category-description content-block content-block-text">
                                    <div class="d-flex flex-column flex-md-row">
                                        {% if thumb %}
                                            <div class="sc-category-description-img">
                                                <img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" width="{{ cat_image_width }}" height="{{ cat_image_height }}" />
                                            </div>
                                        {% endif %}
                                        {% if description %}
                                            <div id="sc-category-description">
                                                <div class="sc-category-description-text{% if thumb %} pt-3 pt-md-0 ps-md-3{% endif %}">
                                                    {{ description }}
                                                    <!-- if button enabled -->
                                                    {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                                        <div class="sc-category-description-text-opacity"></div>
                                                    {% endif %}
                                                    <!-- end if -->
                                                </div>
                                                <!-- CAT PAGES START -->
                                                {% if categories_page is defined and categories_page is not empty %}
                                                    <div class="sc-category-categories_page-text mt-3">
                                                        <ul class="category-landing-links list-unstyled ps-0">
                                                            {% for oct_page in categories_page %}
                                                                {% if oct_page.page_links is not empty %}
                                                                    <li class="category-landing-links-item">
                                                                        <span class="category-landing-links-item-title">{{ oct_page.page_group[language_id] }}</span>
                                                                        {% for link in oct_page.page_links %}
                                                                            <a href="{{ link[language_id].link }}" class="blue-link d-flex-inline align-items-center" title="{{ link[language_id].title }}">{{ link[language_id].title }}</a>
                                                                        {% endfor %}
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                <!-- CAT PAGES END -->
                                                <!-- if button enabled -->
                                                {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                                    <button id="oct-sc-category-more" class="sc-btn sc-btn-secondary br-4 mt-3 ms-md-3"><span class="sc-btn-text">{{ oct_expand }}</span></button>
                                                {% endif %}
                                                <!-- end if -->
                                            </div>
                                            <!-- if button enabled -->
                                        {% if description|length > 700 and (categories or products) and oct_showcase_data.category_desc_up is not defined %}
                                            <style>
                                                .sc-category-description-text {
                                                    height: 220px;
                                                    display: block;
                                                    overflow: hidden;
                                                }
                                            </style>
                                            <script>
                                                $('#oct-sc-category-more').click(function(e) {
                                                    e.stopPropagation();

                                                    const curHeight = $('.sc-category-description-text').innerHeight();
                                                    $('.sc-category-description-text').css('height', 'auto');
                                                    const autoHeight = $('.sc-category-description-text').innerHeight();

                                                    $('.sc-category-description-text').height(curHeight).animate({
                                                        'height': autoHeight
                                                    });

                                                    $('.sc-category-description-text').addClass('expanded');
                                                    $(this).css('display', 'none');
                                                });
                                            </script>
                                        {% endif %}
                                            <!-- end if -->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {{ column_right }}
        </div>
        {{ content_bottom }}
    </main>
</div>

<script>
    function octStockNotifier(product_id) {
        masked('body', true);

        $(".modal-backdrop").remove();

        $.ajax({
            type: 'post',
            dataType: 'html',
            url: 'index.php?route=octemplates/module/oct_stock_notifier',
            data: 'product_id=' + product_id,
            cache: false,
            success: function (data) {
                masked('body', false);
                $(".modal-holder").html(data);
                $("#octStockNotifier").modal("show");
                popupClose();
            }
        });
    }
</script>

{{ footer }}
