<div class="ocf-selected-card ">
  <div class="ocf-selected-header">{{ text_choosed }}</div>
  {% for filter in selecteds %}   
  <div class="ocf-selected-filter">
    <span class="ocf-selected-filter-name fsz-14">{{ filter.name }}:</span>
    {% for value in filter.values %}   
    <button type="button" onclick="location = '{{ value.href }}';" class="ocf-selected-discard" title="{{ value.name }}">
      <span class="ocf-selected-value-name fsz-14">{{ value.name }}</span>
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3 13.2898C13.2075 13.3825 13.0976 13.456 12.9766 13.5062C12.8556 13.5564 12.7259 13.5822 12.595 13.5822C12.464 13.5822 12.3343 13.5564 12.2134 13.5062C12.0924 13.456 11.9825 13.3825 11.89 13.2898L6.99998 8.40978L2.10998 13.2998C2.0174 13.3924 1.90749 13.4658 1.78652 13.5159C1.66556 13.566 1.53591 13.5918 1.40498 13.5918C1.27405 13.5918 1.1444 13.566 1.02344 13.5159C0.902472 13.4658 0.792561 13.3924 0.699979 13.2998C0.607397 13.2072 0.533957 13.0973 0.483852 12.9763C0.433747 12.8554 0.407959 12.7257 0.407959 12.5948C0.407959 12.4638 0.433747 12.3342 0.483852 12.2132C0.533957 12.0923 0.607397 11.9824 0.699979 11.8898L5.58998 6.99978L0.699979 2.10978C0.607397 2.0172 0.533957 1.90728 0.483852 1.78632C0.433747 1.66536 0.407959 1.53571 0.407959 1.40478C0.407959 1.27385 0.433747 1.1442 0.483852 1.02323C0.533957 0.902269 0.607397 0.792359 0.699979 0.699778C0.792561 0.607196 0.902472 0.533755 1.02344 0.48365C1.1444 0.433545 1.27405 0.407757 1.40498 0.407757C1.53591 0.407757 1.66556 0.433545 1.78652 0.48365C1.90749 0.533755 2.0174 0.607196 2.10998 0.699778L6.99998 5.58978L11.89 0.699778C11.9826 0.607196 12.0925 0.533755 12.2134 0.48365C12.3344 0.433545 12.464 0.407757 12.595 0.407757C12.7259 0.407757 12.8556 0.433545 12.9765 0.48365C13.0975 0.533755 13.2074 0.607196 13.3 0.699778C13.3926 0.792359 13.466 0.902269 13.5161 1.02323C13.5662 1.1442 13.592 1.27385 13.592 1.40478C13.592 1.53571 13.5662 1.66536 13.5161 1.78632C13.466 1.90728 13.3926 2.0172 13.3 2.10978L8.40998 6.99978L13.3 11.8898C13.68 12.2698 13.68 12.9098 13.3 13.2898Z" fill="#1A1A1A"/>
      </svg>

    </button>
    {% endfor %}
  </div>
  {% endfor %}

  <span class="km-filter-count-filter"></span>
  <script>

    $('.km-filter-count-filter').text($('.km-filter-count-cat').text());
  </script>
  
  <div class="">
    <button type="button" class="ocf-btn ocf-btn-link fsz-16 clear-filter" onclick="location = '{{ link }}';">{{ button_cancel_all }}</button>
{#    <button type="button" class="ocf-btn ocf-btn-link" data-ocf="specify">{{ button_specify }}</button>    #}
  </div>
</div>