{% if j3 is not defined %}
  <style>
    body {
      display: none !important;
    }
  </style>
  <script>
    window.location = 'index.php?route=journal3/startup/error';
  </script>
{% endif %}
{{ j3.loadController('journal3/layout', 'bottom') }}

{% if not j3.document.isPopup() %}

<footer>
  {{ footer_menu }}
</footer>

            {% if module_mono_checkout_cart_show %}
            <link rel="stylesheet" href="catalog/view/javascript/mono_checkout/css/fonts.css">
            <link rel="stylesheet" href="catalog/view/javascript/mono_checkout/css/mono.css">
            <link rel="stylesheet" href="catalog/view/javascript/mono_checkout/css/noty.min.css">
            <script>
                $.ajax({ url: 'catalog/view/javascript/mono_checkout/js/noty.min.js', dataType: 'script', async: true });
                $.ajax({ url: 'catalog/view/javascript/mono_checkout/js/mono.js', dataType: 'script', async: true });
            </script>
            <script type="text/javascript"><!--
                $('{{ module_mono_checkout_cart_popup_elem }}').after('{{ mono_checkout_button }}');

                $(document).on("ajaxComplete", function (event, xhr, settings) {
                     if($('#mono_checkout_cart_modal').length) return;

                    if (settings.url === 'index.php?route=common/cart/info' || settings.url === 'index.php?route=extension/module/luxshop_newfastordercart' || settings.url.indexOf('index.php?route=octemplates/module/oct_popup_cart') > -1 || settings.url === 'index.php?route=common/aridius_cart/info' || settings.url === 'index.php?route=extension/module/cart_popup') {
                       $('{{ module_mono_checkout_cart_popup_elem }}').after('{{ mono_checkout_button }}');
                    }
                });
            //--></script>
            {% endif %}
            

{% endif %}
</div><!-- .site-wrapper -->

{{ j3.loadController('journal3/layout', 'bottom_menu') }}

{{ j3.loadController('journal3/layout', 'side_menu') }}

{{ j3.loadController('journal3/layout', 'notification') }}

{% for script in j3.document.getScripts('footer') %}
<script src="{{ j3.document.staticUrl(script, false) }}?{{ "now"|date("m/d/Y") }}" {% if j3.settings.get('performanceJSDefer') %} defer {% endif %}></script>
{% endfor %}

{% if j3.canLiveReload() %}
<script src="http://{{ j3.getHost() }}:35729/livereload.js?snipver=1" async></script>
{% endif %}

{% if j3.settings.get('customJS') %}
<script type="text/javascript">{{ j3.settings.get('customJS') }}</script>
{% endif %}

{% if not j3.document.isPopup() and j3.settings.get('customCodeFooter') %}
{{ j3.settings.get('customCodeFooter') }}
{% endif %}

{% if not j3.document.isPopup() and j3.settings.get('scrollTop') %}
<div class="scroll-top">
  <i class="fa fa-angle-up"></i>
</div>
{% endif %}
<script src="/catalog/view/javascript/custom.js"></script>
<script src="/catalog/view/javascript/jquery.mask.js"></script>




<link rel="stylesheet" href="/catalog/view/vendor/contact-popup/contact-popup.css">
		
<div class="contact-popup-bg"></div>
<div class="contact-popup-wrapper">
	<div class="contact-popup">
		<div class="popup-question">
			<div>
				Маєте запитання?
			</div>
		</div>

		<div class="contact-popup-items">
			<a href="https://t.me/SmobileSupportBot" target="_blank" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					Telegram
				</span>
				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/telegram.svg" alt="Telegram">
				</span>
			</a>
			
			<a href="https://ig.me/m/smobile_ua" target="_blank" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					Instagram
				</span>
				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/insta.png" alt="Instagram">
				</span>
			</a>
			
			<a href="https://m.me/249656211569655" target="_blank" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					Facebook
				</span>
				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/Facebook_Messenger_logo_2020.svg" alt="Facebook">
				</span>
			</a>
			
			<a href="mailto:hi@smobile.ua" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					E-mail
				</span>
				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/message-mail.svg" alt="E-mail">
				</span>
			</a>
			
			<a href="tel:+380678088989" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					Зателефонувати
				</span>
				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/phone-call.png" alt="Телефонувати">
				</span>
			</a>

			<a href="javascript:void(0);" id="share-copy" onclick="copyFromInput('copy-url')" class="contact-popup-item metric-click-social">
				<span class="contact-popup-item-text">
					+380678088989
					<i class="success_copied">Скопійовано</i>
				</span>

				<span class="contact-popup-item-icon">
					<img src="/catalog/view/vendor/contact-popup/icons/copy-icon2.svg" alt="Копіювати">
				</span>
			</a>
			<input id="copy-url" type="text" class="hidden" value="+380678088989">
		</div>
		<div class="contact-popup-button">
			<img class="main-btn" src="/catalog/view/vendor/contact-popup/icons/chat.svg" alt="">
			<img class="close-btn" src="/catalog/view/vendor/contact-popup/icons/close.svg" alt="">
		</div>
	</div>
</div> 

<script src="/catalog/view/vendor/contact-popup/contact-popup.js"></script>



		<style>
		.ukrcreditsticker {
			position:absolute;
			text-align: left;
			color: #000;
			top: 5px;
			right:20px;
			z-index:99;
		}
		.ukrcreditsticker>div {
			position: relative;
			border: 1px solid #8BC34A;
			border-radius:5px;
			background:#fff;
			margin-bottom:5px;
			height:42px;
			width:42px
		}
		.ukrcreditsticker span {
			position: absolute;
			font-size: 14px;
			font-weight:700;
			right: 2px;	
			bottom:2px;
			text-shadow: -1px -1px 0 #FFF;
		}

		.ukrcreditsticker .ukrcreditPP {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/PP_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditPB {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/PP_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditII {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/II_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditIA {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/II_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditMB {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/MB_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditAB {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/AB_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditSB {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/SB_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditAA {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/AA_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditPL {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/PL_logo.png') center center no-repeat;
			background-size: 30px;
		}
		.ukrcreditsticker .ukrcreditPU {
			background: #fff url('/catalog/view/theme/default/image/ukrcredits/PU_logo.png') center center no-repeat;
			background-size: 30px;
		}
		@media (max-width: 767px) {
			.ukrcreditsticker>div {
				height:30px;
				width:30px;
			}
			.ukrcreditsticker span {
				line-height: 12px;
			}
			.ukrcreditsticker .ukrcreditPP {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/PP_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditPB {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/PP_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditII {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/II_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditIA {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/II_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditMB {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/MB_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditAB {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/AB_logo.png') center center no-repeat;
				background-size: 26px;
			}	
			.ukrcreditsticker .ukrcreditSB {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/SB_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditAA {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/AA_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditPL {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/PL_logo.png') center center no-repeat;
				background-size: 26px;
			}
			.ukrcreditsticker .ukrcreditPU {
				background: #fff url('/catalog/view/theme/default/image/ukrcredits/PU_logo.png') center center no-repeat;
				background-size: 26px;
			}
		}
		</style>
			
{{ hpmrr_cat_cfg }}

		{# // remarketing #}
		{% if remarketing_status %}
		{% if remarketing_footer %}
		{{ remarketing_footer }}
		{% endif %}
		{% endif %}
		
</body>
</html>
