{{ header }}
<div id="checkout-cart" class="container-fluid container-lg flex-grow-1 mobile-no-gutters">
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb sc-breadcrumb fsz-12">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.last %}
					<li class="breadcrumb-item sc-breadcrumb-item">{{ breadcrumb.text }}</li>
				{% else %}
					<li class="breadcrumb-item sc-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<main class="main">
		<div class="row">
			<div class="col-12 sc-page-title pb-3">
				<h1>{{ heading_title }}</h1>
			</div>
		</div>
		<div class="content-top-box">{{ content_top }}</div>
		{% if attention %}
			<script>
				scNotify('warning', '{{ attention }}');
			</script>
		{% endif %}
		{% if success %}
			<script>
				scNotify('success', '{{ success }}');
			</script>
		{% endif %}
		<div class="row sc-cart">
			<div class="col-lg-7">

				<div class="cehcked-items-wrapper pt-4 pb-4">
					{# <div class="cehcked-items">
						<input type="checkbox" class="popup-cart-item-checkbox-all">
						{{ text_checked }} <span id="checked">0</span> з <span id="full-count">{{ products|length }}</span>
					</div>#}
					<div class="cehcked-actions ml-a">
						{#<div class="cehcked-action-item cehcked-action-item-wishist" onclick="addCheckedCartProductsWishlist()">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.8401 4.60987C20.3294 4.09888 19.7229 3.69352 19.0555 3.41696C18.388 3.14039 17.6726 2.99805 16.9501 2.99805C16.2276 2.99805 15.5122 3.14039 14.8448 3.41696C14.1773 3.69352 13.5709 4.09888 13.0601 4.60987L12.0001 5.66987L10.9401 4.60987C9.90843 3.57818 8.50915 2.99858 7.05012 2.99858C5.59109 2.99858 4.19181 3.57818 3.16012 4.60987C2.12843 5.64156 1.54883 7.04084 1.54883 8.49987C1.54883 9.95891 2.12843 11.3582 3.16012 12.3899L4.22012 13.4499L12.0001 21.2299L19.7801 13.4499L20.8401 12.3899C21.3511 11.8791 21.7565 11.2727 22.033 10.6052C22.3096 9.93777 22.4519 9.22236 22.4519 8.49987C22.4519 7.77738 22.3096 7.06198 22.033 6.39452C21.7565 5.72706 21.3511 5.12063 20.8401 4.60987Z" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</div>#}
						<div class="cehcked-action-item cehcked-action-item-cart" onclick="clearCartReload(); ">
							{{ clear_cart }}
						</div>
					</div>
				</div>

				<div class="p-3 p-md-4 mobile-no-radius">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="content">
						<div class="sc-cart-items">
							{% for product in products %}
								<div class="popup-cart-item">
									<div class="d-flex">

{#										<div class="popup-cart-checkbox-item">#}
{#											<input type="checkbox" name="popup-cart-item-checkbox" class="popup-cart-item-checkbox" value="{{ product.product_id }}" data-product-id="{{ product.product_id }}">#}
{#										</div>#}

										<div class="popup-cart-image-wrapper d-flex flex-column">
											{% if product.thumb %}
												<img class="popup-cart-image" src="{{ product.thumb }}" alt="{{ product.name }}"/>
											{% endif %}
										</div>
										<div class="sidebar-cart-item-right fsz-12 ps-3 flex-grow-1">
											<div class="sidebar-cart-info">
												<div class="sidebar-cart-item-title fw-500 fsz-14">
													<a href="{{ product.href }}">{{ product.name }}</a>
													<div class="popup-cart-product-model">Код товару: {{ product.model }}</div>

													{#															<div class="popup-cart-product-model">{{ product.total }}</div>#}

													{% if product.special > 0 %}
														<div class="sc-module-price-km">
															<div class="sc-module-price-km-prices">
																<div class="km-price-linethrow">{{ product.price_text }}</div>
																<div class="km-price-special">{{ product.special_text }}</div>
															</div>
															<div class="sc-module-price-km-usdt">
																{{ product.usdt }} usdt
															</div>
														</div>
													{% else %}
														<div class="sc-module-price-km">
															<div class="sc-module-price-km-prices">
																<div class="km-price-regular fw-500">{{ product.price_text }}</div>
															</div>
															<div class="sc-module-price-km-usdt">
																{{ product.usdt }} usdt
															</div>
														</div>
													{% endif %}


													{% if not product.stock %}
														<span class="required">***</span>
													{% endif %}
												</div>

												{% if product.option %}
													{% for option in product.option %}
														<div class="sidebar-cart-item-option"><span class="dark-text">{{ option.name }}:</span> {{ option.value }}</div>
													{% endfor %}
												{% endif %}
											</div>
											<div class="sidebar-cart-item-buttons d-flex align-items-center justify-content-between flex-grow-1 pt-3 mt-auto">
												<div class="sidebar-cart-item-buttons d-flex align-items-center">
													<div class="sc-module-quantity d-flex align-items-center justify-content-center py-1 me-3 br-12">

														{% if product.quantity < 2 %}
															<button type="button" aria-label="Minus" class="{% if product.quantity < 2 %} product-quanitity-1 {% endif%} sc-module-quantity-btn d-flex align-items-center justify-content-center" onclick="cart.remove('{{ product.cart_id }}');" >
																<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" x="0" y="0" viewBox="0 0 48 48" style="enable-background:new 0 0 512 512;width: 20px;height: 18px;" xml:space="preserve" class="hover-red" plerdy-tracking-id="31152739201"><g><g data-name="Recycle Bin"><path d="M39 6h-9V5a3 3 0 0 0-3-3h-7a3 3 0 0 0-3 3v1H9a3 3 0 0 0-3 3v2a3 3 0 0 0 2.025 2.824l.854 27.332a4.977 4.977 0 0 0 5 4.844h20.244a4.977 4.977 0 0 0 5-4.844l.854-27.332A3 3 0 0 0 42 11V9a3 3 0 0 0-3-3zM19 5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v1h-9zm18.122 36.094a2.987 2.987 0 0 1-3 2.906H13.877a2.987 2.987 0 0 1-3-2.906L10.032 14h27.936zM40 11a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h30a1 1 0 0 1 1 1z" fill="#c0c0c0" opacity="1" data-original="#000000" class=""></path><path d="M24 19a1 1 0 0 0-1 1v18a1 1 0 0 0 2 0V20a1 1 0 0 0-1-1zM31.028 19a.972.972 0 0 0-1.028.972l-.5 18A1 1 0 0 0 30.472 39h.028a1 1 0 0 0 1-.972l.5-18A1 1 0 0 0 31.028 19zM16.972 19A1 1 0 0 0 16 20.028l.5 18a1 1 0 0 0 1 .972h.028a1 1 0 0 0 .972-1.028l-.5-18A1 1 0 0 0 16.972 19z" fill="#c0c0c0" opacity="1" data-original="#000000" class=""></path></g></g></svg>
															</button>
														{% else %}
															<button type="button" aria-label="Minus" class="{% if product.quantity < 2 %} product-quanitity-1 {% endif%} sc-module-quantity-btn d-flex align-items-center justify-content-center" onclick="$('#input-quantity-{{ product.cart_id }}').val(~~$('#input-quantity-{{ product.cart_id }}').val()-1);">
																<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" plerdy-tracking-id="34908615552">
																	<path d="M18 12.498H6C5.86739 12.498 5.74022 12.4454 5.64645 12.3516C5.55268 12.2578 5.5 12.1307 5.5 11.998C5.5 11.8654 5.55268 11.7383 5.64645 11.6445C5.74022 11.5507 5.86739 11.498 6 11.498H18C18.1326 11.498 18.2598 11.5507 18.3536 11.6445C18.4473 11.7383 18.5 11.8654 18.5 11.998C18.5 12.1307 18.4473 12.2578 18.3536 12.3516C18.2598 12.4454 18.1326 12.498 18 12.498Z" fill="#407CB2" stroke="#407CB2"></path>
																</svg>
															</button>
														{% endif %}

														<input type="text" id="input-quantity-{{ product.cart_id }}" readonly class="form-control cart-quanitity-input" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" aria-label="Quantity" inputmode="numeric" min="1">
														<button type="button" aria-label="Plus" class="sc-module-quantity-btn d-flex align-items-center justify-content-center" onclick="$('#input-quantity-{{ product.cart_id }}').val(~~$('#input-quantity-{{ product.cart_id }}').val()+1);">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" plerdy-tracking-id="34908615505">
																<path d="M13 12.498H12.5V12.998V17.998C12.5 18.1307 12.4473 18.2578 12.3536 18.3516C12.2598 18.4454 12.1326 18.498 12 18.498C11.8674 18.498 11.7402 18.4454 11.6464 18.3516C11.5527 18.2578 11.5 18.1307 11.5 17.998V12.998V12.498H11H6C5.86739 12.498 5.74022 12.4454 5.64645 12.3516C5.55268 12.2578 5.5 12.1307 5.5 11.998C5.5 11.8654 5.55268 11.7383 5.64645 11.6445C5.74022 11.5507 5.86739 11.498 6 11.498H11H11.5V10.998V5.99805C11.5 5.86544 11.5527 5.73826 11.6464 5.64449C11.7402 5.55073 11.8674 5.49805 12 5.49805C12.1326 5.49805 12.2598 5.55073 12.3536 5.64449C12.4473 5.73826 12.5 5.86544 12.5 5.99805V10.998V11.498H13H18C18.1326 11.498 18.2598 11.5507 18.3536 11.6445C18.4473 11.7383 18.5 11.8654 18.5 11.998C18.5 12.1307 18.4473 12.2578 18.3536 12.3516C18.2598 12.4454 18.1326 12.498 18 12.498H13Z" fill="#407CB2" stroke="#407CB2"></path>
															</svg>
														</button>
													</div>

													<button type="submit" class="hidden sc-btn sc-btn-secondary sc-btn-with-icon br-4 ms-auto me-2 update-cart-ajax-btn" title="{{ button_update }}">
														<span class="sc-btn-icon sc-btn-icon-showmore"></span>
													</button>
													<button type="button" class="hidden sc-btn sc-btn-danger sc-btn-with-icon br-4" onclick="cart.remove('{{ product.cart_id }}');">
														<span class="sc-btn-icon sc-btn-icon-del"></span>
													</button>

												</div>
												<input name="product_key" value="{{ product.key }}" style="display: none;" hidden />
												<input name="product_id_q" value="{{ product.product_id }}" style="display: none;" hidden />

												<div class="d-flex cart-actions-wrapper">
													<button type="button" aria-label="Wishlist" class="sc-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
														<span class="sc-btn-icon sc-btn-icon-wishlist"></span>
													</button>

													<div  class="popup-cart-item-delete d-none" data-product-id="{{ product.cart_id }}" onclick="cart.remove('{{ product.cart_id }}');">
														{{ text_delete }}
													</div>
												</div>


												<span class="popup-cart-item-wish" onclick="wishlist.add('{{ product.product_id }}');"></span>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							{% for voucher in vouchers %}
								<div class="sc-cart-item content-block p-2 p-md-3">
									<div class="d-flex align-items-center">
										<button type="button" class="sc-btn sc-btn-danger sc-btn-with-icon br-4" onclick="voucher.remove('{{ voucher.key }}');"><span class="sc-btn-icon sc-btn-icon-del"></span></button>
										<div class="dark-text fw-500 ms-2 ms-md-3">{{ voucher.description }}</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="sc-cart-actions content-block p-3 p-md-4 mt-3 mt-lg-0 br-8">
					<div class="total-title color-dark fsz-24 fw-500 mb-4">
						{{ total_title }}
					</div>
					{% if modules %}
						{#							<div class="sc-cart-actions-block pt-0">#}
						{#								<div class="sc-cart-actions-title fw-700 dark-text mb-3">{{ text_next }}</div>#}
						{#								<div class="sc-cart-actions-text fsz-14 light-text">{{ text_next_choice }}</div>#}
						{#							</div>#}

						{% for module in modules %}
							{{ module }}
						{% endfor %}
						<script>
							window.addEventListener('DOMContentLoaded', () => {
								$('.sc-cart-actions-block-title').on('click', function (e) {
									$(this).toggleClass('clicked');
									$(this).next().toggleClass('opened');
								});
							});
						</script>
					{% endif %}
					<div class="d-flex flex-column mt-4">
						<div class="totals-wrapper pb-4">
							{% for total in totals %}
								<div class="fw-700 fsz-14 dark-text mb-1">
									<div class="justify-content-between d-flex">
										<div class="fw-400 fsz-14 color-dark">{{ total.title }}:</div>
										<div class="fw-400 fsz-14 color-dark" id="{{ total.is_total_amount ? 'total_amount_unique_wrapper' : '' }}">{{ total.text }}</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<a href="{{ checkout }}" class="br-8 fsz-18 fw-500 sc-btn sc-btn-primary checkout_button_mono br-4 mt-3 w-100">{{ button_checkout }}</a>
						<script>
							$('#checkout-cart .checkout_button_mono').on('click', function() {
								fbq('track', 'InitiateCheckout');
							});
						</script>
						<div class="socauth mt-4">
							<div class="socauth-separator">
								<div class="socauth-separator-line"></div>
								<div class="socauth-separator-text">Або</div>
							</div>
						</div>

						{% if oct_byoneclick is defined and oct_byoneclick %}
							{{ oct_byoneclick }}
						{% endif %}
					</div>
					{% if error_warning %}
						<div class="required mt-3">{{ error_warning }}</div>
					{% endif %}
				</div>

				<div class="cart-cards-wrapper mt-3">
					<div class="cart-cards-wrapper">


						<div class="cart-cards-item content-block">
							<div class="cart-cards-item-icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.04729 9.25174L6.04729 9.25164C6.12663 7.77281 7.26785 6.569 8.73964 6.41226C8.73971 6.41225 8.73978 6.41225 8.73986 6.41224C8.73993 6.41223 8.74001 6.41222 8.74009 6.41221L10.9491 6.17864L10.951 6.17843C11.3697 6.13305 11.7638 5.95793 12.0781 5.67756L12.08 5.67577L13.7333 4.19021L13.7341 4.18952C14.2667 3.70962 14.9532 3.43567 15.6699 3.41703C16.3866 3.3984 17.0864 3.63631 17.6432 4.08789L17.6449 4.08919L19.3747 5.48415C19.3751 5.48444 19.3754 5.48472 19.3758 5.485C19.7045 5.7517 20.1095 5.90359 20.5257 5.92761L20.5286 5.92777L22.7482 6.04712L22.7483 6.04713C24.2275 6.12647 25.4314 7.2679 25.588 8.73973L25.8215 10.9486L25.8218 10.9505C25.8671 11.3692 26.0423 11.7633 26.3227 12.0775L26.3245 12.0795L27.8101 13.7327C27.8101 13.7327 27.8101 13.7327 27.8101 13.7327C28.8006 14.835 28.8431 16.4922 27.9119 17.6429L27.9111 17.6439L26.5144 19.3757L26.5129 19.3776C26.2506 19.7049 26.0966 20.1059 26.0726 20.5248L26.0724 20.5275L25.9531 22.747L25.953 22.7487C25.9162 23.4648 25.6248 24.1442 25.1313 24.6645C24.6378 25.1848 23.9747 25.5117 23.2615 25.5864L23.2607 25.5864L21.0513 25.8201L21.0493 25.8203C20.6306 25.8656 20.2366 26.0408 19.9223 26.3211L19.9203 26.3229L18.267 27.8085L18.2663 27.8092C17.7337 28.2891 17.0472 28.563 16.3305 28.5817C15.6138 28.6003 14.9139 28.3624 14.3571 27.9108L14.3555 27.9095L12.6235 26.5128L12.6217 26.5114C12.2943 26.249 11.8933 26.0951 11.4745 26.0711L11.4717 26.0709L9.25214 25.9516L9.25036 25.9515C8.53418 25.9147 7.85471 25.6233 7.33441 25.1299C6.8141 24.6364 6.48717 23.9734 6.41253 23.2602L6.41245 23.2594L6.17881 21.0501L6.1786 21.0482C6.13322 20.6295 5.95808 20.2354 5.67768 19.9212L5.67589 19.9192L4.19024 18.266L4.18955 18.2652C3.70962 17.7327 3.43567 17.0462 3.41703 16.3296C3.3984 15.613 3.63631 14.9132 4.08791 14.3565L4.08921 14.3548L5.48599 12.623L5.48744 12.6211C5.74981 12.2938 5.90372 11.8928 5.92778 11.4739L5.92792 11.4712L6.04729 9.25174Z" stroke="#001F3F" stroke-width="1.5"/> <path d="M20.3344 12L22 13.3333L16.066 18.9223L14.8999 20L13.7338 18.9223L10 15.3333L11.6656 14.0334L14.8999 17.0225L20.3344 12Z" fill="#001F3F"/> </svg></div>
							<div class="cart-cards-item-name fsz-12">{{ text_off_dist }}</div>
						</div>

						<div class="cart-cards-item content-block">
							<div class="cart-cards-item-icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M22.6667 26.6673C24.1394 26.6673 25.3333 25.4734 25.3333 24.0007C25.3333 22.5279 24.1394 21.334 22.6667 21.334C21.1939 21.334 20 22.5279 20 24.0007C20 25.4734 21.1939 26.6673 22.6667 26.6673Z" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M9.33268 26.6673C10.8054 26.6673 11.9993 25.4734 11.9993 24.0007C11.9993 22.5279 10.8054 21.334 9.33268 21.334C7.85992 21.334 6.66602 22.5279 6.66602 24.0007C6.66602 25.4734 7.85992 26.6673 9.33268 26.6673Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M6.66602 23.9633C5.20335 23.8913 4.29268 23.674 3.64202 23.0246C2.99135 22.3753 2.77535 21.4633 2.70335 20.0007M11.9993 24.0006H19.9993M25.3327 23.9633C26.7953 23.8913 27.706 23.674 28.3567 23.0246C29.3327 22.0473 29.3327 20.4767 29.3327 17.334V14.6673H23.066C22.0727 14.6673 21.5767 14.6673 21.1753 14.5367C20.7751 14.4066 20.4114 14.1837 20.1139 13.8861C19.8163 13.5886 19.5934 13.2249 19.4633 12.8247C19.3327 12.4233 19.3327 11.9273 19.3327 10.934C19.3327 9.44465 19.3327 8.70065 19.1367 8.09798C18.9416 7.49768 18.6072 6.95207 18.1609 6.50574C17.7146 6.05942 17.169 5.72505 16.5687 5.52998C15.966 5.33398 15.222 5.33398 13.7327 5.33398H2.66602M2.66602 10.6673H10.666M2.66602 14.6673H7.99935" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M19.332 8H21.76C23.7014 8 24.6707 8 25.46 8.472C26.2507 8.94267 26.7107 9.79733 27.6307 11.5067L29.332 14.6667" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg></div>
							<div class="cart-cards-item-name fsz-12">{{ text_free_delivery }}</div>
						</div>
						<div class="cart-cards-item content-block">
							<div class="cart-cards-item-icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M20.5 24.5V18.5H29.5V24.5C29.5 26.2109 28.5087 27.8267 26.8969 28.5431L26.8969 28.5429L26.885 28.5486L25 29.4462L23.115 28.5486L23.1129 28.5476C21.5799 27.8262 20.5 26.1974 20.5 24.5ZM22 19.5H21.5V20V24.5C21.5 25.9062 22.3226 27.0703 23.4764 27.6472L23.4834 27.6507L23.4905 27.654L24.7905 28.254L25 28.3507L25.2095 28.254L26.5095 27.654L26.5166 27.6507L26.5236 27.6472C27.6861 27.066 28.5 25.797 28.5 24.5V20V19.5H28H22Z" fill="black" stroke="#001F3F"/> <path d="M22 12C23.1046 12 24 11.1046 24 10C24 8.89543 23.1046 8 22 8C20.8954 8 20 8.89543 20 10C20 11.1046 20.8954 12 22 12Z" fill="black"/> <path d="M21 2C16 2 12 6 12 11C12 11.9 12.1 12.8 12.4 13.6L2 24V30H8L18 20L16.6 18.6L13.8 21.4L12.4 20L11 21.4L12.4 22.8L10.8 24.4L9.4 23L8 24.4L9.4 25.8L7.2 28H4V24.8L13.8 15L14.6 14.2L14.3 13C14.1 12.3 14 11.7 14 11C14 7.1 17.1 4 21 4C24.9 4 28 7.1 28 11C28 12.5 27.5 13.9 26.7 15H29C29.6 13.8 29.9 12.4 29.9 11C30 6 26 2 21 2Z" fill="black"/> </svg></div>
							<div class="cart-cards-item-name fsz-12">{{ text_crypto_pay }}</div>
						</div>
						<div class="cart-cards-item content-block">
							<div class="cart-cards-item-icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_3580_47440)"> <path d="M4.73565 21.1555L4.73547 21.1556C4.67754 21.1891 4.61347 21.2106 4.54707 21.2189C4.48067 21.2271 4.41328 21.222 4.34891 21.2038C4.28453 21.1855 4.22447 21.1545 4.17229 21.1126C4.12011 21.0707 4.07686 21.0188 4.04512 20.9599L3.60496 21.1971L4.04533 20.9603C2.65777 18.3799 2.30736 15.3673 3.06564 12.5374C3.82388 9.70757 5.63352 7.27385 8.12516 5.73298C8.1821 5.69784 8.24552 5.67448 8.31166 5.6643C8.37778 5.65411 8.44529 5.65731 8.51017 5.67369C8.57505 5.69007 8.63598 5.71931 8.68934 5.75967C8.74272 5.80003 8.78745 5.8507 8.82088 5.90866L8.82098 5.90884L14.1517 15.1418C14.2896 15.3807 14.2075 15.6869 13.9686 15.8248L4.73565 21.1555ZM12.6026 15.4588L13.0356 15.2088L12.7856 14.7758L8.49629 7.34646L8.21032 6.85115L7.75766 7.20074C5.93627 8.60741 4.62717 10.5732 4.03154 12.7962C3.4359 15.0191 3.58669 17.3761 4.46074 19.505L4.67796 20.0341L5.17327 19.7482L12.6026 15.4588ZM12.7083 6.55705L12.2113 6.61121L12.7083 6.55705C12.7008 6.48803 12.7078 6.4182 12.7287 6.35202C12.7497 6.28583 12.7842 6.22472 12.83 6.1726C12.8759 6.12051 12.932 6.07853 12.995 6.04933C14.9789 5.13313 17.1829 4.80118 19.3487 5.09236C21.5147 5.38357 23.5529 6.28596 25.2245 7.69384C26.8962 9.10171 28.132 10.9568 28.7873 13.0417C29.4426 15.1267 29.4902 17.3552 28.9245 19.4662C28.3589 21.5773 27.2034 23.4834 25.5934 24.9614C23.9835 26.4394 21.9857 27.428 19.834 27.8114C17.6824 28.1949 15.4661 27.9573 13.4447 27.1265C11.4234 26.2957 9.6806 24.9062 8.42052 23.1206C8.3807 23.0639 8.35309 22.9996 8.33947 22.9316C8.32581 22.8635 8.32648 22.7934 8.34143 22.7256C8.35638 22.6578 8.38529 22.5938 8.42631 22.5378C8.46733 22.4818 8.51957 22.435 8.5797 22.4002L18.0667 16.9229L18.4997 16.6729L18.2497 16.2399L12.7724 6.75289C12.7377 6.69276 12.7159 6.62607 12.7083 6.55705ZM16.1316 26.8551C18.5206 27.2431 20.9704 26.7939 23.0663 25.5834C25.3226 24.2837 27.0156 22.192 27.8164 19.7143C28.6173 17.2367 28.469 14.5498 27.4003 12.1753C26.3315 9.80086 24.4187 7.9082 22.033 6.86477C19.6473 5.82134 16.959 5.70158 14.4899 6.52876L13.9099 6.72308L14.2158 7.25286L19.6158 16.6059C19.7537 16.8448 19.6716 17.151 19.4327 17.2889L10.0797 22.6889L9.54934 22.9951L9.9554 23.4535C11.5605 25.2654 13.7423 26.467 16.1316 26.8551Z" fill="black" stroke="#001F3F"/> </g> <defs> <clipPath id="clip0_3580_47440"> <rect width="32" height="32" fill="white"/> </clipPath> </defs> </svg></div>
							<div class="cart-cards-item-name fsz-12">{{ text_part_pay }}</div>
						</div>


					</div>
				</div>
			</div>
		</div>
		{{ content_bottom }}
	</main>
</div>

<script>
	$(document).ready(function() {

		$(document).on('click','.update-cart-ajax-btn',  function(e) {
			e.preventDefault();

			// Знайти найближчу форму або вказати конкретний селектор
			let $form = $(this).closest('form');
			let formData = $form.serialize(); // Збираємо всі дані форми

			$.ajax({
				url: $form.attr('action')+'&ajax=Y', // URL, на який відправляємо дані
				type: 'POST', // Метод запиту
				data: formData,
				dataType: 'json', // Очікуємо JSON-відповідь
				// beforeSend: function() {
				// 	//$('.update-cart-ajax-btn').prop('disabled', true); // Блокуємо кнопку, щоб уникнути подвійного натискання
				// },
				success: function(response) {
					console.log(1)
				},
				complete: function(response) {
					let html = response.responseText;
					// console.log(html)
					$.ajax({
						url: 'https://smobile.ua/index.php?route=checkout/cart&ajax=Y', // URL, на який відправляємо запит
						type: 'POST',
						dataType: 'html', // Очікуємо HTML-відповідь
						success: function(response) {
							let html = response; // Збереження відповіді в змінну
							$('#content').html(html)
							updateTotals();
						}
					});
				},
				error: function(xhr, status, error) {

				}
			});
		});

		$(document).on('click', '.sc-module-quantity-btn', function(e){
			
			let btn = $(e.target);

			let quantityWrapper = $(btn).closest('.sc-module-quantity');
			$(quantityWrapper).addClass('disabled');


			let quantityInput = $(btn).closest('.sc-module-quantity').find('.cart-quanitity-input');
			if(quantityInput.val() < 1){
				quantityInput.val(1);
			}

			$('.update-cart-ajax-btn:eq(0)').click();
		});

		if ($('#mono_checkout_cart_page').length) {
			$('#mono_checkout_cart_page').on('click', function() {
				var monoCheckoutFbqValue = $('#total_amount_unique_wrapper').text().replace('грн', '').replace(' ', '').trim();
				fbq('track', 'mono_checkout', {
					currency: 'UAH',
					value: Number(monoCheckoutFbqValue)
				});
			});
		}
	});

	$(document).on('keyup', '.cart-quanitity-input', function(e){
		let input = $(e.target);
		$('.update-cart-ajax-btn:eq(0)').click();
	});

	function updateCheckedCart(){
		$('#checked').text($('.popup-cart-item-checkbox:checked').length)
	}
	$(document).on('click', '.popup-cart-item-checkbox', function(){
		updateCheckedCart()
	});
	$('.popup-cart-item-checkbox-all').click(function(){
		if($(this).prop('checked')){
			$('.popup-cart-item-checkbox').prop('checked', true);
		}else{
			$('.popup-cart-item-checkbox').prop('checked', false);
		}
		updateCheckedCart()
	});

	function addCheckedCartProductsWishlist(){
		$('.popup-cart-item-checkbox:checked').each(function(){
			console.log($(this))
			$(this).closest('.popup-cart-item').find('.sc-wishlist-btn:not(.added)').click();
		});
	}

	function deleteCheckedCartProducts(){
		$('.popup-cart-item-checkbox:checked').each(function(){
			console.log($(this))

			let product_id = $(this).closest('.popup-cart-item').find('.popup-cart-item-delete').attr('data-product-id');

			console.log(product_id)
			cart.remove(product_id);
		});
	}


	function updateTotals(){
		fetch('https://smobile.ua/index.php?route=checkout/cart&get_totals=y')
				.then(response => response.json())
				.then(data => {
					// створюємо блок
					const wrapper = document.createElement('div');
					wrapper.className = 'totals-wrapper pb-4';

					data.forEach(item => {
						const row = document.createElement('div');
						row.className = 'fw-700 fsz-14 dark-text mb-1';

						row.innerHTML = `
        <div class="justify-content-between d-flex">
          <div class="fw-400 fsz-14 color-dark" plerdy-tracking-id="${Math.floor(Math.random() * 90000000000 + 10000000000)}">${item.title}:</div>
          <div class="fw-400 fsz-14 color-dark" ${item.is_total_amount ? 'id="total_amount_unique_wrapper"' : ''} plerdy-tracking-id="${Math.floor(Math.random() * 90000000000 + 10000000000)}">${item.text}</div>
        </div>
      `;
						wrapper.appendChild(row);
					});

					// Заміна існуючого блоку (за потреби адаптуй селектор)
					const container = document.querySelector('.totals-wrapper');
					if (container) {
						container.replaceWith(wrapper);
					} else {
						document.body.appendChild(wrapper); // або встав у потрібне місце
					}
				})
				.catch(error => {
					console.error('Помилка отримання total:', error);
				});

	}
</script>
{{ footer }}
