{{ header }}
<div id="account-login" class="container-fluid container-lg flex-grow-1 mobile-no-gutters">
 	<nav aria-label="breadcrumb">
        <ul class="breadcrumb sc-breadcrumb fsz-12">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item sc-breadcrumb-item">{{ breadcrumb.text }}</li>
            {% else %}
                <li class="breadcrumb-item sc-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    <main class="main">
        <div class="row">
            <div class="col-12 sc-page-title pb-3">
                <h1>{{ heading_title }}</h1>
            </div>
        </div>
        <div class="content-top-box">{{ content_top }}</div>
        {% if success %}
            <script>
                scNotify('success', '{{ success }}');
            </script>
        {% endif %}
        {% if error_warning %}
            <script>
                scNotify('warning', '{{ error_warning }}');
            </script>
        {% endif %}
        <div class="row sc-account-row">
            {{ column_left }}
    	    {% if column_left and column_right %}
    	        {% set class = 'col-xl-6' %}
    	    {% elseif column_left or column_right %}
    	        {% set class = 'col-xl-9' %}
    	    {% else %}
    	        {% set class = 'col-xl-12' %}
    	    {% endif %}
            <div id="content" class="{{ class }}">
                <div class="rm-content rm-account-login h-100">
                    <div class="content-block p-3 p-md-4 mobile-no-radius">
                        <div class="h3 mt-0">{{ text_i_am_returning_customer }}</div>
                        <hr>
                        <form action="{{ action }}" method="post" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label class="dark-text fsz-14 fw-500 mb-1" for="inputLoginEmail"><span class="required">*</span> {{ entry_email }}</label>
                                <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="inputLoginEmail" class="form-control" inputmode="email">
                            </div>
                            <div class="form-group mb-3">
                                <label class="dark-text fsz-14 fw-500 mb-1" for="inputLoginPassword"><span class="required">*</span> {{ entry_password }}</label>
                                <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="inputLoginPassword" class="form-control"/>
                            </div>
                            <div class="sc-account-login-forgotten mb-3">
                                <a href="{{ forgotten }}" class="blue-link fw-500 fsz-14">{{ text_forgotten }}</a>
                            </div>
                                <button type="submit" class="sc-btn sc-btn-primary br-4 sc-account-login-button">{{ button_login }}</button>
                                {% if redirect %}
                                    <input type="hidden" name="redirect" value="{{ redirect }}"/>
                                {% endif %}
                        </form>
                    </div>
                    <div class="content-block p-3 p-md-4 mobile-no-radius fsz-14 mt-3 mt-md-4">
                        <div class="h3 mt-0">{{ text_register }}</div>
                        <hr>
                        <div class="account-register-text">{{ text_register_account }}</div>
                        <a href="{{ register }}" class="sc-btn sc-btn-primary br-4 mt-4 sc-account-login-button">{{ button_continue }}</a>
                    </div>
                </div>
            </div>
            {{ column_right }}
        </div>
        {{ content_bottom }}
    </main>
</div>
{{ footer }}
