<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}"{% if body_class %} class="body-product"{% endif %}>
<!--<![endif]-->
<head>

                    <!-- Flowy Tracking Opencart - https://flowytracking.com -->
                        {% if head_ft is not empty %}
                            {{ head_ft }}
                        {% endif %}
                    <!-- Flowy Tracking Opencart - https://flowytracking.com -->
                
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {#    <link rel="alternate" hreflang="uk-ua" href="https://smobile.ua{{ href_langs.uk }}" />#}
    {#    <link rel="alternate" hreflang="ru-ua" href="https://smobile.ua{{ href_langs.ru }}" />#}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WF40SCMB2P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WF40SCMB2P');
    </script>
    <!-- Google Tag Manager -->

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1154725052318131');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1154725052318131&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->

    <link rel="stylesheet" href="/catalog/view/theme/journal3/stylesheet/fonts/geologica/stylesheet.css">

    {% if (oct_showcase_data.open_graph is defined and oct_showcase_data.open_graph) and octOpenGraphs is not empty %}
        {% for octOpenGraph in octOpenGraphs %}
            {% if octOpenGraph.content is not empty %}
                <meta property="{{ octOpenGraph.property }}" content="{{ octOpenGraph.content }}" />
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if oct_analytics_google_webmaster_code is defined and oct_analytics_google_webmaster_code is not empty %}
        <meta name="google-site-verification" content="{{ oct_analytics_google_webmaster_code }}" />
    {% endif %}
    {% if oct_analytics_googletm_code is defined and oct_analytics_googletm_code is not empty %}
        <!-- Google Tag Manager -->
        <script id="octGtm">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ oct_analytics_googletm_code }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <base href="{{ base }}" />
    {% if robots %}
        <meta name="robots" content="{{ robots }}" />
    {% endif %}
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    {% if oct_theme_color is defined and oct_theme_color %}
        <meta name="theme-color" content="{{ oct_theme_color }}"/>
    {% endif %}
    {% for style in styles %}
        {% if oct_preload_styles is defined and oct_preload_styles and oct_minify is defined and oct_minify %}
            <link rel="preload" as="style" href="{{ style.href }}">
        {% endif %}
        <link href="{{ style.href }}" rel="stylesheet" media="{{ style.media }}" />
    {% endfor %}
    {% if oct_preloads %}
        {% for oct_preload in oct_preloads %}
            <link rel="preload" as="image" href="{{ oct_preload }}">
        {% endfor %}
    {% endif %}
    {% for script in scripts %}

        <script>console.log('{{ script }}')</script>
        <script src="{{ script }}"></script>
    {% endfor %}
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
    <script{% if oct_footer_scripts is defined and oct_footer_scripts and oct_minify is defined and oct_minify %} id="dataFonts"{% endif %}>
        let octFonts = localStorage.getItem('octFonts');
        if (octFonts !== null) {
            var octHead  = document.getElementsByTagName('head')[0];
            var octLink  = document.createElement('link');
            octLink.rel  = 'stylesheet';
            octLink.type = 'text/css';
            octLink.href = location.protocol + '//' + location.host + '/catalog/view/theme/oct_showcase/stylesheet/oct-fonts.css';
            octLink.media = 'all';
            octHead.appendChild(octLink);
        }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/catalog/view/theme/oct_showcase/stylesheet/custom.css?v={{ 'now'|date('U') }}">


    <link rel="stylesheet" href="https://smobile.ua/catalog/view/theme/journal3/lib/swiper/swiper.min.css">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "lyf2ou3zcj");
    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

			{# // remarketing #}			
			{% if remarketing_head %}
			{{ remarketing_head }} 
			{% endif %}
			
</head>
<body>

                    <!-- Flowy Tracking Opencart - https://flowytracking.com -->
                        {% if body_ft is not empty %}
                            {{ body_ft }}
                        {% endif %}
                    <!-- Flowy Tracking Opencart - https://flowytracking.com -->
                

			
				{{ SOCNETAUTH2_DATA_DOBOR['code'] }}
			  
            

			{% if remarketing_body %}
			{{ remarketing_body }}
			{% endif %}
		
{% if oct_analytics_googletm_code is defined and oct_analytics_googletm_code is not empty %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ oct_analytics_googletm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
<div id="cart_link" class="d-none" data-link="{{ cart_link }}"></div>

<div id="sidebar" class="sidebar d-xl-none fade">
    <button type="button" class="sc-btn sc-btn-with-icon no-btn br-4 ms-auto sc-btn-close" data-sidebar="close" aria-label="Close">
        <span class="sc-btn-icon sc-btn-icon-close"></span>
    </button>
    <div class="sidebar-header py-2 ps-4 pe-2 fw-700 dark-text d-flex align-items-center">
        <span class="sidebar-header-text">{{ oct_menu }}</span>
    </div>
    <div id="sc_sidebar_content" class="sidebar-inner"></div>
</div>
{% if (oct_information_bar_value is defined and oct_information_bar_value is not empty and oct_information_bar_value) %}
    <div id="oct-infobar" style="background-color: {{ oct_information_bar_background }};">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex align-items-center justify-content-between flex-column flex-md-row py-3 py-md-3">
                    <div class="oct-infobar-text">
                        {{ text_oct_information_bar }}
                    </div>
                    <button type="button" aria-label="Information" id="oct-infobar-btn" class="btn-close">
                        {#                        {{ oct_info_bar_close }}#}
                    </button>
                </div>

            </div>
        </div>
    </div>
    <script>
        $('#oct-infobar-btn').on('click', function () {
            $('#oct-infobar').addClass('hidden');
            const date = new Date('{{ oct_information_bar_day_now }}'.replace(/-/g, "/"));
            date.setTime(date.getTime() + ({{ oct_info_max_day }} * 24 * 60 * 60 * 1000));
            document.cookie = '{{ oct_information_bar_value }}=1; path=/; expires=' + date.toUTCString();
        });
    </script>
    <style>
        #oct-infobar {
            background: url('{{ oct_information_bar_bg_image }}') no-repeat;
            background-size: cover;
        }
        .oct-infobar-text {color:{{ oct_information_bar_color_text }};}
        .oct-infobar-text .details-btn {
            color: {{ oct_information_bar_color_url }};
            background-color: {{ oct_information_bar_background_button }};
            padding: 5px 10px;
            border-radius: 15px;
        }
        .oct-infobar-text .details-btn:hover {
            color: {{ oct_information_bar_color_text_button_hover }};
            background-color: {{ oct_information_bar_background_button_hover }};
        }
        .oct-infobar-text a {color:{{ oct_information_bar_color_url }};}
        #oct-infobar-btn {background:{{ oct_information_bar_background_button }};color:{{ oct_information_bar_color_text_button }};}
        #oct-infobar-btn:hover {background:{{ oct_information_bar_background_button_hover }};color:{{ oct_information_bar_color_text_button_hover }};}
    </style>
{% endif %}
<nav id="top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between h-100">
        {#        <div class="d-none-desktop d-flex align-items-center">#}
        {#            <button id="mobile-menu-button-mobile" type="button" class="sc-btn sc-btn-with-icon no-btn" onclick="scSidebar('{{ oct_menu }}', 'menu');" aria-label="Menu">#}
        {#                <span class="sc-btn-icon sc-btn-icon-menu"></span>#}
        {#            </button>#}
        {#            <div id="logo-mobile" class="d-flex align-items-center justify-content-center">#}
        {#                {% if oct_home is defined and oct_home %}#}
        {#                    <span><img src="/image/icons/logo_mobile.png" title="{{ name }}" alt="{{ name }}" class=""{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} /></span>#}
        {#                {% else %}#}
        {#                    <a href="{{ home }}">#}
        {#                        <img src="/image/icons/logo_mobile.png" title="{{ name }}" alt="{{ name }}" class=""{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />#}
        {#                    </a>#}
        {#                {% endif %}#}
        {#            </div>#}
        {#        </div>#}
        <div class="top-left d-flex align-items-center">

            <button id="mobile-menu-button" type="button" class="sc-btn sc-btn-with-icon no-btn br-4 sc-top-btn d-xl-none  ms-1 me-3" data-menu="open" {# onclick="scSidebar('{{ oct_menu }}', 'menu');" #} aria-label="Menu">
                <span class="sc-btn-icon sc-btn-icon-menu"></span>
            </button>

            {# {% if logo %}
                <div id="logo" class="d-flex align-items-center justify-content-center">
                    {% if oct_home is defined and oct_home %}
                        <span>
                            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo desktop-logo"{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />
                            <img src="/image/icons/logo_mobile.png" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo mobile-logo" style="width: auto" />
                        </span>
                    {% else %}
                        <a href="{{ home }}">
                            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo desktop-logo"{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />
                            <img src="/image/icons/logo_mobile.png" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo mobile-logo"{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %} #}



            {% if custom_logo_header and custom_logo_header_mobile %}
                <div id="logo" class="d-flex align-items-center justify-content-center">
                    <a href="{{ home }}">
                        <img src="{{ custom_logo_header }}" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo desktop-logo"{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />
                        <img src="{{ custom_logo_header_mobile }}" title="{{ name }}" alt="{{ name }}" class="img-fluid max-h-logo mobile-logo"{% if logo_width is defined and logo_width %} width="{{ logo_width }}"{% endif %}{% if logo_height is defined and logo_height %} height="{{ logo_height }}"{% endif %} />
                    </a>
                </div>
            {% else %}
                <h1><a href="{{ home }}">{{ name }}</a></h1>
            {% endif %}



            <div class="mobile-header-search">
                <div class="pseudo-mobile-search-wrapper">
                    <div class="pseudo-search-icon">
                        <img src="/image/icons/search.png" alt="Пошук">
                    </div>
                    <input type="text" class="pseudo-mobile-search" placeholder="Пошук">
                </div>

                <script>
                    $('.pseudo-mobile-search').focus(function(){
                        $('.mobile-header-search .header-search').addClass('active')
                        $('.mobile-header-search .input_search').focus()
                    })
                </script>

                {{ search }}

                <script>
                    $('.mobile-back-btn').click(function(){
                        $('.mobile-header-search .header-search.active').removeClass('active')
                        $('#overlay').removeClass('active transparent');
                    });


                </script>


            </div>

            <button id="mobile-search-button" type="button" class="d-none sc-btn sc-btn-with-icon no-btn br-4 sc-top-btn d-md-none me-3" onclick="scSidebar('{{ oct_search }}', 'search');" aria-label="Search">
                <span class="sc-btn-icon sc-btn-icon-search"></span>
            </button>


            {#            {% if oct_showcase_data.contact_address[oct_lang_id] is defined and oct_showcase_data.contact_address[oct_lang_id] %}#}
            {#                <button id="mobile-locations-button" type="button" class="d-none sc-btn sc-btn-with-icon no-btn br-4 sc-top-btn d-md-none me-3 ms-auto" onclick="scSidebar('{{ oct_our_address }}', 'locations');" aria-label="Locations">#}
            {#                    <span class="sc-btn-icon sc-btn-icon-location"></span>#}
            {#                </button>#}
            {#                <button type="button" class="sc-btn sc-btn-with-icon no-btn br-4 sc-top-btn d-md-none " onclick="scSidebar('{{ oct_menu }}', 'menu', 'account');" aria-label="Account">#}
            {#            {% else %}#}
            {#                <button type="button" class="sc-btn sc-btn-with-icon no-btn br-4 sc-top-btn d-md-none ms-auto" onclick="scSidebar('{{ oct_menu }}', 'menu', 'account');" aria-label="Account">#}
            {#            {% endif %}#}
            {#                    #}
            {#                <span class="sc-btn-icon sc-btn-icon-account"></span>#}
            {#            </button>#}
        </div>


        <div class="d-flex align-items-center gg-15 header-menu-items">
            {% if header_informations is defined and header_informations is not empty %}
                <ul class="top-left-links list-unstyled fw-300 fsz-12 d-none d-xl-flex align-items-center gg-15">
                    {% for header_link in header_informations %}
                        <li><a href="{{ header_link.href }}">{{ header_link.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="top-right d-none d-md-flex align-items-center pe-md-3">
            {% if contact_open is defined and contact_open or oct_contact_telephones is defined and oct_contact_telephones is not empty %}
                <div class="sc-dropdown-box">
                    <div class="sc-dropdown-toggle fw-700 fsz-16">{{ telephone }}</div>
                    <div class="sc-dropdown">
                        <div class="header-soc-dropdown sc-dropdown-inner br-4 p-3">
                            <div class="header-soc-widget">
                                <div class="header-soc-widget-top">
                                    <div class="widget-top-line">
                                        <a href="https://t.me/+380678088989">
                                            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.09184 10.2966C4.13223 10.3093 4.17342 10.3192 4.21513 10.3262C4.47937 10.9636 4.74213 11.6017 5.0034 12.2404C5.47319 13.3897 5.94672 14.5734 6.05039 14.9137C6.18022 15.3325 6.31658 15.6175 6.46601 15.8125C6.54353 15.9119 6.63226 15.9999 6.73687 16.0668C6.79179 16.1009 6.85001 16.1291 6.91059 16.151C7.20946 16.2657 7.48218 16.2179 7.6531 16.1596C7.75345 16.1247 7.84891 16.0765 7.93703 16.0162L7.9417 16.0142L10.5811 14.3295L13.6306 16.7218C13.6754 16.7568 13.724 16.7865 13.7763 16.8107C14.1424 16.9732 14.4973 17.0306 14.8317 16.9847C15.1642 16.9369 15.4285 16.7945 15.6255 16.6329C15.8516 16.446 16.032 16.2076 16.1523 15.9368L16.1607 15.9158L16.1635 15.9081L16.1654 15.9043V15.9024L16.1663 15.9014C16.1816 15.86 16.1941 15.8175 16.2037 15.7743L18.9869 1.40839C18.9946 1.36225 18.999 1.31559 19 1.2688C19 0.848098 18.845 0.447479 18.4816 0.205577C18.1697 -0.00190305 17.8232 -0.0114645 17.6037 0.00574588C17.3683 0.0248685 17.1498 0.0841486 17.0032 0.131955C16.9212 0.15904 16.8402 0.189017 16.7603 0.221832L16.75 0.226612L1.13954 6.49501L1.13767 6.49596C1.08473 6.51554 1.03269 6.53755 0.981693 6.56194C0.857859 6.61882 0.739106 6.68664 0.626781 6.76464C0.414768 6.91284 -0.0737022 7.32015 0.00942189 7.99327C0.0748004 8.5287 0.433448 8.85856 0.652933 9.01728C0.772482 9.10429 0.886427 9.16644 0.970486 9.20755C1.00784 9.22667 1.08817 9.25918 1.12272 9.27448L1.13206 9.27735L4.09184 10.2966ZM17.2964 1.54607H17.2946L17.2703 1.55659L1.64108 7.83359L1.6168 7.84315L1.60746 7.84602C1.57884 7.85735 1.55079 7.87011 1.5234 7.88427C1.54952 7.89928 1.57632 7.913 1.60372 7.92538L4.53828 8.93697C4.5901 8.95662 4.6401 8.98093 4.68772 9.00963L14.3796 3.20114L14.3889 3.19636C14.4268 3.17329 14.4654 3.15161 14.5048 3.13134C14.572 3.09596 14.6794 3.04433 14.8008 3.00609C14.8849 2.97931 15.1343 2.90378 15.4032 2.9927C15.5461 3.03834 15.6735 3.1244 15.7707 3.24096C15.8679 3.35752 15.9309 3.49983 15.9524 3.65147C15.9872 3.78414 15.9882 3.92372 15.9552 4.05687C15.8899 4.31981 15.7105 4.52442 15.5471 4.68123C15.407 4.81509 13.5895 6.60879 11.7972 8.37954L9.35668 10.789L8.92238 11.2193L14.4067 15.5238C14.4808 15.5554 14.5611 15.5685 14.6411 15.562C14.6814 15.5563 14.7193 15.5391 14.7504 15.5123C14.7882 15.4795 14.8207 15.4408 14.8466 15.3975L14.8485 15.3966L17.5477 1.46289C17.4628 1.48429 17.3794 1.51177 17.2983 1.54512L17.2964 1.54607ZM9.39403 13.3964L8.29941 12.5378L8.03416 14.2636L9.39403 13.3964ZM7.29539 10.8339L8.38347 9.75828L10.824 7.34692L11.7327 6.45007L5.64318 10.0996L5.67587 10.178C6.05993 11.1068 6.43975 12.0375 6.81532 12.9699L7.07964 11.2489C7.10377 11.0893 7.17978 10.9438 7.29539 10.8339Z" fill="#001F3F"/>
                                            </svg>
                                            Telegram
                                        </a>
                                    </div>

                                    <div class="widget-top-line">
                                        <a href="https://www.instagram.com/m/smobile_ua" >
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.91953 1.78732C12.568 1.78732 12.8817 1.79724 13.928 1.84494C14.557 1.85264 15.1801 1.96815 15.7702 2.18644C16.198 2.35145 16.5866 2.60422 16.9109 2.92848C17.2352 3.25275 17.488 3.64131 17.653 4.06918C17.8713 4.65918 17.9868 5.28224 17.9945 5.91129C18.0417 6.95751 18.0521 7.27114 18.0521 9.91953C18.0521 12.5679 18.0422 12.8815 17.9945 13.9278C17.9868 14.5568 17.8713 15.1799 17.653 15.7699C17.488 16.1977 17.2352 16.5863 16.9109 16.9106C16.5866 17.2348 16.198 17.4876 15.7702 17.6526C15.1801 17.8709 14.557 17.9864 13.928 17.9941C12.8822 18.0413 12.5685 18.0517 9.91953 18.0517C7.27054 18.0517 6.9569 18.0418 5.9111 17.9941C5.28202 17.9864 4.65893 17.8709 4.0689 17.6526C3.64102 17.4876 3.25243 17.2348 2.92815 16.9106C2.60387 16.5863 2.35109 16.1977 2.18608 15.7699C1.96777 15.1799 1.85226 14.5568 1.84456 13.9278C1.79732 12.8815 1.78693 12.5679 1.78693 9.91953C1.78693 7.27114 1.79685 6.95751 1.84456 5.91129C1.85226 5.28224 1.96777 4.65918 2.18608 4.06918C2.35109 3.64131 2.60387 3.25275 2.92815 2.92848C3.25243 2.60422 3.64102 2.35145 4.0689 2.18644C4.65893 1.96815 5.28202 1.85264 5.9111 1.84494C6.95737 1.79771 7.27102 1.78732 9.91953 1.78732ZM9.91953 0C7.22709 0 6.88793 0.011336 5.82985 0.0595143C5.00655 0.0758892 4.19199 0.231766 3.42082 0.520514C2.75928 0.76975 2.16009 1.16032 1.66506 1.66498C1.15992 2.16017 0.768997 2.75967 0.519594 3.4216C0.230832 4.19274 0.0749482 5.00726 0.0585725 5.83052C0.0113366 6.8876 0 7.22674 0 9.91906C0 12.6114 0.0113366 12.9505 0.0595171 14.0085C0.0758928 14.8318 0.231777 15.6463 0.520539 16.4175C0.769665 17.0793 1.16026 17.6788 1.66506 18.1741C2.16037 18.6789 2.75989 19.0694 3.42177 19.3185C4.19294 19.6073 5.0075 19.7632 5.83079 19.7795C6.88888 19.8268 7.22661 19.8391 9.92048 19.8391C12.6143 19.8391 12.9521 19.8277 14.0102 19.7795C14.8335 19.7632 15.648 19.6073 16.4192 19.3185C17.0779 19.0632 17.6761 18.6732 18.1755 18.1735C18.6749 17.6738 19.0646 17.0754 19.3195 16.4165C19.6082 15.6454 19.7641 14.8309 19.7805 14.0076C19.8277 12.9505 19.8391 12.6114 19.8391 9.91906C19.8391 7.22674 19.8277 6.8876 19.7795 5.82957C19.7632 5.00631 19.6073 4.19179 19.3185 3.42066C19.0694 2.75881 18.6788 2.15932 18.174 1.66404C17.6787 1.15926 17.0792 0.768683 16.4173 0.51957C15.6461 0.230821 14.8316 0.0749446 14.0083 0.0585697C12.9511 0.0113361 12.612 0 9.91953 0Z" fill="#001F3F"/>
                                                <path d="M9.92171 4.82812C8.91423 4.82812 7.92937 5.12686 7.09168 5.68656C6.25399 6.24626 5.60109 7.04179 5.21554 7.97253C4.83 8.90328 4.72912 9.92745 4.92567 10.9155C5.12222 11.9036 5.60737 12.8112 6.31977 13.5236C7.03216 14.2359 7.93981 14.7211 8.92793 14.9176C9.91606 15.1141 10.9403 15.0133 11.8711 14.6277C12.8019 14.2422 13.5974 13.5893 14.1571 12.7517C14.7169 11.914 15.0156 10.9292 15.0156 9.9218C15.0156 8.57087 14.4789 7.27528 13.5236 6.32003C12.5684 5.36478 11.2727 4.82812 9.92171 4.82812ZM9.92171 13.2282C9.26774 13.2282 8.62846 13.0342 8.08471 12.6709C7.54095 12.3076 7.11715 11.7912 6.86689 11.1871C6.61663 10.5829 6.55115 9.91813 6.67873 9.27676C6.80631 8.63539 7.12123 8.04626 7.58365 7.58385C8.04607 7.12145 8.63524 6.80655 9.27664 6.67898C9.91804 6.5514 10.5829 6.61688 11.1871 6.86713C11.7912 7.11738 12.3076 7.54116 12.671 8.08489C13.0343 8.62861 13.2282 9.26786 13.2282 9.9218C13.2282 10.7987 12.8799 11.6397 12.2598 12.2597C11.6397 12.8798 10.7986 13.2282 9.92171 13.2282Z" fill="#001F3F"/>
                                                <path d="M15.2164 5.81612C15.8738 5.81612 16.4068 5.28321 16.4068 4.62583C16.4068 3.96846 15.8738 3.43555 15.2164 3.43555C14.559 3.43555 14.0261 3.96846 14.0261 4.62583C14.0261 5.28321 14.559 5.81612 15.2164 5.81612Z" fill="#001F3F"/>
                                            </svg>
                                            Instagram
                                        </a>
                                    </div>
                                    <div class="widget-top-line">
                                        <a href="https://m.me/249656211569655" >
                                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 13L7.995 10.605C8.632 9.842 8.95 9.46 9.333 9.46C9.716 9.46 10.035 9.842 10.671 10.605L11.329 11.395C11.965 12.158 12.283 12.54 12.667 12.54C13.05 12.54 13.368 12.158 14.005 11.395L16 9" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M11 21C16.523 21 21 16.523 21 11C21 5.477 16.523 1 11 1C5.477 1 1 5.477 1 11C1 12.379 1.28 13.693 1.784 14.888C2.063 15.548 2.202 15.878 2.22 16.128C2.237 16.378 2.163 16.652 2.016 17.201L1 21L4.799 19.984C5.348 19.837 5.622 19.764 5.872 19.78C6.122 19.798 6.452 19.937 7.112 20.216C8.34266 20.7343 9.66465 21.0009 11 21Z" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            Messenger
                                        </a>
                                    </div>

                                </div>
                                <div class="header-soc-widget-body">
                                    <a href="tel:+380678088989" class="widget-top-line-item">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.733 1.0433C3.95 -0.166703 5.954 0.0482968 6.973 1.4103L8.235 3.0943C9.065 4.2023 8.991 5.7503 8.006 6.7293L7.768 6.9673C7.74101 7.06721 7.73827 7.17211 7.76 7.2733C7.823 7.6813 8.164 8.5453 9.592 9.9653C11.02 11.3853 11.89 11.7253 12.304 11.7893C12.4083 11.8103 12.516 11.8072 12.619 11.7803L13.027 11.3743C13.903 10.5043 15.247 10.3413 16.331 10.9303L18.241 11.9703C19.878 12.8583 20.291 15.0823 18.951 16.4153L17.53 17.8273C17.082 18.2723 16.48 18.6433 15.746 18.7123C13.936 18.8813 9.719 18.6653 5.286 14.2583C1.149 10.1443 0.354996 6.5563 0.253996 4.7883C0.203996 3.8943 0.625997 3.1383 1.164 2.6043L2.733 1.0433ZM5.773 2.3093C5.266 1.6323 4.322 1.5783 3.79 2.1073L2.22 3.6673C1.89 3.9953 1.732 4.3573 1.752 4.7033C1.832 6.1083 2.472 9.3453 6.344 13.1953C10.406 17.2333 14.157 17.3543 15.607 17.2183C15.903 17.1913 16.197 17.0373 16.472 16.7643L17.892 15.3513C18.47 14.7773 18.343 13.7313 17.525 13.2873L15.615 12.2483C15.087 11.9623 14.469 12.0563 14.085 12.4383L13.63 12.8913L13.1 12.3593C13.63 12.8913 13.629 12.8923 13.628 12.8923L13.627 12.8943L13.624 12.8973L13.617 12.9033L13.602 12.9173C13.5598 12.9565 13.5143 12.9919 13.466 13.0233C13.386 13.0763 13.28 13.1353 13.147 13.1843C12.877 13.2853 12.519 13.3393 12.077 13.2713C11.21 13.1383 10.061 12.5473 8.534 11.0293C7.008 9.5113 6.412 8.3693 6.278 7.5033C6.209 7.0613 6.264 6.7033 6.366 6.4333C6.42213 6.28137 6.50251 6.13953 6.604 6.0133L6.636 5.9783L6.65 5.9633L6.656 5.9573L6.659 5.9543L6.661 5.9523L6.949 5.6663C7.377 5.2393 7.437 4.5323 7.034 3.9933L5.773 2.3093Z" fill="black"/>
                                        </svg>
                                        +38 (067) 808 89-89
                                    </a>
                                    <p class="fsz-12 widget-body-hours">{{ work_hours }}<br>
                                        Пн-Пт: 10:00 − 18:00</p>
                                </div>
                                <div class="header-soc-widget-footer">
                                    <span onclick="octPopupCallPhone();">{{ callback_btn }}</span>
                                </div>



                            </div>


                        </div>
                    </div>
                </div>
                {# % if oct_popup_call_phone_status is defined and oct_popup_call_phone_status %}
                    <span class="fsz-12 fw-600 popup-call-trigger" onclick="octPopupCallPhone();">{{ oct_call_phone }}</span>
                {% endif %#}
            {% endif %}
            {% if oct_showcase_data.header_lang is defined %}
                {{ language }}
            {% endif %}
            {% if oct_showcase_data.header_cur is defined %}
                {{ currency }}
            {% endif %}
        </div>
    </div>
</nav>
<header class="header py-2{% if oct_expand_menu is defined and oct_expand_menu %} with-slideshow{% endif %}">
    <div class="container-fluid container-xl position-relative header-custom-padding">
        <div class="row">
            <div class="col-md-3 d-none d-xl-flex">
                <button id="menuToggleButton" type="button" class="sc-btn sc-btn-secondary br-4 py-2 px-3 w-100 fsz-14">
                    <span class="sc-btn-icon sc-btn-icon-catalog"></span>
                    <span class="sc-btn-text">{{ oct_menu_catalog }}</span>
                </button>
            </div>
            <div class="col-12 col-xl-9">
                <div class="d-flex align-items-center header-search-box">
                    {{ search }}
                    <div class="header-buttons d-flex justify-content-between justify-content-md-end align-items-center pe-md-3">

                        {% if product_views_count %}
                            <button type="button" class="pl-br-0  sc-btn sc-btn-with-icon no-btn d-flex flex-column justify-content-between align-items-center d-md-none header-buttons-catalog align-self-stretch" {# data-menu="open"#} onclick="openRecentlyViewd();">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M508.745 246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818 239.784 3.249 246.035a16.896 16.896 0 0 0 0 19.923c4.569 6.257 113.557 153.206 252.748 153.206s248.174-146.95 252.748-153.201a16.875 16.875 0 0 0 0-19.922zM255.997 385.406c-102.529 0-191.33-97.533-217.617-129.418 26.253-31.913 114.868-129.395 217.617-129.395 102.524 0 191.319 97.516 217.617 129.418-26.253 31.912-114.868 129.395-217.617 129.395z" fill="#1c1c28" opacity="1" data-original="#000000" class=""></path><path d="M255.997 154.725c-55.842 0-101.275 45.433-101.275 101.275s45.433 101.275 101.275 101.275S357.272 311.842 357.272 256s-45.433-101.275-101.275-101.275zm0 168.791c-37.23 0-67.516-30.287-67.516-67.516s30.287-67.516 67.516-67.516 67.516 30.287 67.516 67.516-30.286 67.516-67.516 67.516z" fill="#1c1c28" opacity="1" data-original="#000000" class=""></path></g></svg>

                                <span class="text-lowercase">{{ oct_catalog }}</span>
                            </button>
                        {% endif %}

                        {#                        {% if product_views_count %}#}
                        {#                            <a href="/index.php?route=account/account" class="pl-br-0 sc-btn sc-btn-with-icon no-btn d-flex flex-column justify-content-between align-items-center header-buttons-viewed align-self-stretch">#}

                        {#                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">#}
                        {#                                    <path d="M26.6673 28V25.3333C26.6673 23.9188 26.1054 22.5623 25.1052 21.5621C24.105 20.5619 22.7485 20 21.334 20H10.6673C9.25283 20 7.89628 20.5619 6.89608 21.5621C5.89589 22.5623 5.33398 23.9188 5.33398 25.3333V28" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>#}
                        {#                                    <path d="M15.9993 14.6667C18.9449 14.6667 21.3327 12.2789 21.3327 9.33333C21.3327 6.38781 18.9449 4 15.9993 4C13.0538 4 10.666 6.38781 10.666 9.33333C10.666 12.2789 13.0538 14.6667 15.9993 14.6667Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>#}
                        {#                                </svg>#}
                        {#                            </a>#}

                        {#                        {% endif %}#}

                        {% if oct_showcase_data.header_account is defined %}
                            {% if logged %}
                                <a href="{{ login }}" class="sc-btn sc-btn-with-icon no-btn header-buttons-account d-md-flex flex-column justify-content-between align-items-center align-self-stretch">
                                    <span class="sc-btn-icon sc-btn-icon-account">
                                                                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.6667 28.5V25.8333C26.6667 24.4188 26.1048 23.0623 25.1046 22.0621C24.1044 21.0619 22.7479 20.5 21.3334 20.5H10.6667C9.25222 20.5 7.89566 21.0619 6.89547 22.0621C5.89528 23.0623 5.33337 24.4188 5.33337 25.8333V28.5" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 15.1667C18.9455 15.1667 21.3333 12.7789 21.3333 9.83333C21.3333 6.88781 18.9455 4.5 16 4.5C13.0544 4.5 10.6666 6.88781 10.6666 9.83333C10.6666 12.7789 13.0544 15.1667 16 15.1667Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                                    </span>
                                    <span class="text-lowercase">{{ oct_account }}</span>
                                </a>
                            {% else %}
                                <button type="button" onclick="octPopupLogin();" class="sc-btn sc-btn-with-icon no-btn header-buttons-account  d-md-flex flex-column justify-content-between fsz-12 align-items-center align-self-stretch">
                                    <span class="sc-btn-icon sc-btn-icon-account">

                                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.6667 28.5V25.8333C26.6667 24.4188 26.1048 23.0623 25.1046 22.0621C24.1044 21.0619 22.7479 20.5 21.3334 20.5H10.6667C9.25222 20.5 7.89566 21.0619 6.89547 22.0621C5.89528 23.0623 5.33337 24.4188 5.33337 25.8333V28.5" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 15.1667C18.9455 15.1667 21.3333 12.7789 21.3333 9.83333C21.3333 6.88781 18.9455 4.5 16 4.5C13.0544 4.5 10.6666 6.88781 10.6666 9.83333C10.6666 12.7789 13.0544 15.1667 16 15.1667Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


                                    </span>
                                    <span class="text-lowercase">{{ oct_account }}</span>
                                </button>
                            {% endif %}
                        {% endif %}
                        <a href="{{ wishlist }}" {% if oct_showcase_data.isbuttoninteractive is defined %}data-wishlist-ids="{{ wishlist_ids }}"{% endif %} data-wishlist-text="{{ wishlist_text }}" data-wishlist-text-in="{{ wishlist_text_in }}" class="sc-btn sc-btn-with-icon no-btn d-flex flex-column justify-content-between header-buttons-wishlist fsz-12 align-items-center align-self-stretch">
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.7867 6.64715C27.1057 5.96582 26.2971 5.42534 25.4071 5.05659C24.5172 4.68784 23.5633 4.49805 22.6 4.49805C21.6367 4.49805 20.6828 4.68784 19.7929 5.05659C18.9029 5.42534 18.0943 5.96582 17.4133 6.64715L16 8.06048L14.5867 6.64715C13.2111 5.27156 11.3454 4.49876 9.4 4.49876C7.45462 4.49876 5.58892 5.27156 4.21333 6.64715C2.83774 8.02274 2.06494 9.88844 2.06494 11.8338C2.06494 13.7792 2.83774 15.6449 4.21333 17.0205L5.62666 18.4338L16 28.8071L26.3733 18.4338L27.7867 17.0205C28.468 16.3395 29.0085 15.5309 29.3772 14.641C29.746 13.751 29.9358 12.7971 29.9358 11.8338C29.9358 10.8705 29.746 9.91662 29.3772 9.02667C29.0085 8.13673 28.468 7.32816 27.7867 6.64715Z" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            {#                            <span class="text-lowercase">{{ oct_wishlist }}</span>#}
                            {#                            <span class="header-buttons-cart-quantity px-1">{{ wishlist_total }}</span>#}
                        </a>

                        <a href="{{ compare_link }}" {% if oct_showcase_data.isbuttoninteractive is defined %}data-compare-ids="{{ compare_ids }}"{% endif %} data-compare-text="{{ compare_text }}" data-compare-text-in="{{ compare_text_in }}" class="sc-btn sc-btn-with-icon no-btn header-buttons-compare d-flex flex-column justify-content-between fsz-12 align-items-center align-self-stretch">
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6667 21.834H28M14.6667 21.834L20 27.1673M14.6667 21.834L20 16.5007M17.3333 11.1673H4M17.3333 11.1673L12 16.5007M17.3333 11.1673L12 5.83398" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="text-lowercase">{{ oct_compare }}</span>
                            {#                            <span class="header-buttons-cart-quantity px-1">{{ compare_total }}</span>#}
                        </a>

                        {{ cart }}
                    </div>
                    {% if main_address_html is defined and main_address_html %}
                        <div id="sc_sidebar_locations_inner" class="d-none">
                            <div id="sc_sidebar_locations" class="d-none sidebar-locations p-3">
                                <div class="sc-location content-block active fsz-12">
                                    <div class="d-flex align-items-center">
                                        <div class="sc-location-address fw-700 dark-text pe-4 fsz-14">{{ main_address_html }}</div>
                                        {% if oct_locations %}
                                            <button type="button" class="sc-btn sc-btn-secondary sc-btn-with-icon br-4 ms-auto p-0 d-flex align-items-center justify-content-center">
                                                <span class="sc-btn-icon sc-btn-icon-chevron"></span>
                                            </button>
                                        {% endif %}
                                    </div>
                                    {% if contact_open is defined and contact_open or oct_contact_telephones is defined and oct_contact_telephones is not empty %}
                                        <div class="sc-location-collapsed">
                                            {% if oct_contact_telephones is defined and oct_contact_telephones is not empty %}
                                                <div class="sc-location-phones mb-3">
                                                    <span class="sidebar-main-menu-item-title fw-600 dark-text">{{ oct_telephones }}</span>
                                                    {% for oct_contact_telephone in oct_contact_telephones %}
                                                        <a href="tel:{{ oct_contact_telephone|replace({" " : "", "-" : "", "(" : "", ")" : ""}) }}" class="blue-link fw-500">{{ oct_contact_telephone }}</a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% if oct_showcase_data.contact_open[oct_lang_id] is defined and oct_showcase_data.contact_open[oct_lang_id] %}
                                                <div class="sc-location-shedule mb-3">
                                                    <div class="sidebar-main-menu-item-title fw-600 dark-text mb-2">{{ oct_working_hours }}:</div>
                                                    {% for contact_open in oct_contact_opens %}
                                                        <span>{{ contact_open }}</span><br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% if contact_map is defined and contact_map %}
                                                <div class="sc-location-map">
                                                    <div class="sidebar-main-menu-item-title fw-600 mb-3 dark-text">{{ oct_location }}</div>
                                                    <div id="oct-contact-map" class="not_in"></div>
                                                </div>
                                                <script>
                                                    if (window.innerWidth < 768) {
                                                        $('#mobile-locations-button').on('click', function() {
                                                            octShowMap('{{ contact_map }}', '#oct-contact-map');
                                                        });
                                                    }
                                                </script>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if oct_locations %}
                                    {% set key = 0 %}
                                    {% for location in oct_locations %}
                                        {% set key = key + 1 %}
                                        <div id="sc-location-{{ key }}" class="sc-location content-block fsz-12">
                                            <div class="d-flex align-items-center">
                                                {% if location.address is defined and location.address %}
                                                    <div class="sc-location-address fw-700 dark-text pe-4 fsz-14">{{ location.address }}</div>
                                                {% endif %}
                                                <button type="button" class="sc-btn sc-btn-secondary sc-btn-with-icon br-4 ms-auto p-0 d-flex align-items-center justify-content-center">
                                                    <span class="sc-btn-icon sc-btn-icon-chevron"></span>
                                                </button>
                                            </div>
                                            {% if location.open is defined and location.open or location.map is defined and location.phone is defined and location.phone %}
                                                <div class="sc-location-collapsed">
                                                    {% if location.phone is defined and location.phone %}
                                                        <div class="sc-location-phones mb-3">
                                                            <span class="sidebar-main-menu-item-title fw-600 dark-text">{{ oct_telephones }}</span>
                                                            {% for phone in location.phone %}
                                                                <a href="tel:{{ phone|replace({" " : "", "-" : "", "(" : "", ")" : ""}) }}" class="blue-link fw-500">{{ phone }}</a>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                    {% if location.open is defined and location.open %}
                                                        <div class="sc-location-shedule mb-3">
                                                            <div class="sidebar-main-menu-item-title fw-600 dark-text mb-2">{{ oct_working_hours }}:</div>
                                                            {% for open in location.open %}
                                                                <span>{{ open }}</span><br>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                    {% if location.map is defined and location.map %}
                                                        <div class="sc-location-map">
                                                            <div class="sidebar-main-menu-item-title fw-600 mb-3 dark-text">{{ oct_location }}</div>
                                                            <div id="oct-location-map-{{ key }}" class="not_in"></div>
                                                        </div>
                                                        <script>
                                                            $('body').on('click', '#sc-location-{{ key }}', function(){
                                                                octShowMap('{{ location.map }}', '#oct-location-map-{{ key }}');
                                                            });
                                                        </script>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <script>
                                    window.addEventListener('DOMContentLoaded', () => {
                                        toggleActiveClass('.sc-location');
                                    });
                                    $(document).ready(function() {
                                        $('.disbale-first-visible').hover(
                                            function() {
                                                // Додаємо клас при наведенні
                                                $('.sc-megamenu-list').addClass('hide-first-visible');
                                            },
                                            function() {
                                                // Видаляємо клас, коли курсор залишає елемент
                                                $('.sc-megamenu-list').removeClass('hide-first-visible');
                                            }
                                        );
                                    });
                                </script>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ menu }}
    </div>
</header>
