{% if oct_popup_cart_status is defined and oct_popup_cart_status %}
<button title="{{ oct_cart }}" id="cart" class="sc-btn sc-btn-with-icon no-btn d-flex flex-column justify-content-between header-buttons-cart fsz-12 align-items-center align-self-stretch" type="button" onclick="octPopupCart();">
    {% else %}
    <button title="{{ oct_cart }}" id="cart" type="button" class="sc-btn sc-btn-with-icon no-btn d-flex flex-column justify-content-between header-buttons-cart fsz-12 align-items-center align-self-stretch" onclick="location = '{{ cart }}';">
        {% endif %}
        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66663 26.1673V9.83398H25.3333V26.1673C25.3333 26.7862 25.1148 27.3797 24.7258 27.8172C24.3368 28.2548 23.8093 28.5007 23.2592 28.5007H8.7407C8.19062 28.5007 7.66307 28.2548 7.27411 27.8172C6.88514 27.3797 6.66663 26.7862 6.66663 26.1673Z" stroke="#001F3F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21.3333 12.5C21.3333 10.3783 20.7714 8.34344 19.7712 6.84315C18.771 5.34285 17.4144 4.5 16 4.5C14.5855 4.5 13.2289 5.34285 12.2287 6.84315C11.2285 8.34344 10.6666 10.3783 10.6666 12.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <span class="text-lowercase">{{ oct_cart }}</span>
        <span class="header-buttons-cart-quantity px-1">{{ total_products }}</span>
    </button>
    <span class="d-none" {% if oct_showcase_data.isbuttoninteractive is defined %}data-cart-ids="{{ cart_product_ids }}"{% endif %} data-cart-text="{{ cart_text2 }}" data-cart-text-in="{{ cart_text_in }}"></span>