{% if categories %}
	<div class="sc-megamenu">
		<nav>
			<ul class="sc-megamenu-list list-unstyled py-2">
				{% for category in categories %}
					<li class="sc-megamenu-list-item d-flex align-items-center justify-content-between">
						<a href="{{ category.href }}" class="d-flex align-items-center flex-grow-1">
							{% if category.oct_image %}
								<img src="{{ category.oct_image }}" alt="{{ category.name }}" width="{{ category.width }}" height="{{ category.height }}" />
							{% endif %}
							<span class="fsz-14 ps-3">{{ category.name }}</span>
						</a>
						{% if category.children or category.oct_pages %}
							<span class="sc-btn sc-btn-with-icon br-4 no-btn d-flex align-items-center justify-content-center">
								<span class="sc-btn-icon sc-btn-icon-chevron"></span>
							</span>
						{% endif %}
						{% if category.children or category.oct_pages %}
							<div class="sc-megamenu-child sc-megamenu-child-narrow">
								<ul class="list-unstyled">
									{% for child in category.children %}
									<li class="fsz-14 fw-500 d-flex align-items-center justify-content-between">
										<a class="flex-grow-1" href="{{ child.href }}">{{ child.name }}</a>
										{% if child.children or child.oct_pages %}
											<span class="sc-btn sc-btn-with-icon br-4 no-btn d-flex align-items-center justify-content-center">
												<span class="sc-btn-icon sc-btn-icon-chevron"></span>
											</span>
										{% endif %}
										{% if child.children or child.oct_pages %}
											<div class="sc-megamenu-child sc-megamenu-child-narrow">
												<ul class="list-unstyled">
													{% for ch in child.children %}
													<li class="fsz-14 fw-500 d-flex align-items-center justify-content-between">
														<a class="flex-grow-1" href="{{ ch.href }}">{{ ch.name }}</a>
														{% if ch.children or ch.oct_pages %}
															<span class="sc-btn sc-btn-with-icon br-4 no-btn d-flex align-items-center justify-content-center">
																<span class="sc-btn-icon sc-btn-icon-chevron"></span>
															</span>
														{% endif %}
														{% if ch.children or ch.oct_pages %}
															<div class="sc-megamenu-child sc-megamenu-child-narrow">
																<ul class="list-unstyled">
																	{% for child in ch.children %}
																		<li class="fsz-14 fw-500 d-flex align-items-center justify-content-start">
																			<a class="flex-grow-1" href="{{ child.href }}">
																				{{ child.name }}
																			</a>
																		</li>
																	{% endfor %}
																	{% if ch.oct_pages %}
																		<li class="sc-menu-list-landings">
																			<ul>
																				{% for oct_page in ch.oct_pages %}
																					{% if oct_page.page_links is not empty %}
																					<li class="d-flex flex-column align-items-start">
																						<span class="sc-megamenu-children-title fw-700 mb-2">{{ oct_page.page_group[language_id] }}</span>
																						{% for page_link in oct_page.page_links %}
																						<a href="{{ page_link[language_id].link }}" title="{{ page_link[language_id].title }}" class="sc-menu-list-landings-link fsz-12">{{ page_link[language_id].title }}</a>
																						{% endfor %}
																					</li>
																					{% endif %}
																				{% endfor %}
																			</ul>
																		</li>
																	{% endif %}
																</ul>
															</div>
														{% endif %}
													</li>
													{% endfor %}
													{% if child.oct_pages %}
														<li class="sc-menu-list-landings">
															<ul>
																{% for oct_page in child.oct_pages %}
																	{% if oct_page.page_links is not empty %}
																	<li class="d-flex flex-column align-items-start">
																		<span class="sc-megamenu-children-title fw-700 mb-2">{{ oct_page.page_group[language_id] }}</span>
																		{% for page_link in oct_page.page_links %}
																		<a href="{{ page_link[language_id].link }}" title="{{ page_link[language_id].title }}" class="sc-menu-list-landings-link fsz-12">{{ page_link[language_id].title }}</a>
																		{% endfor %}
																	</li>
																	{% endif %}
																{% endfor %}
															</ul>
														</li>
													{% endif %}
												</ul>
											</div>
										{% endif %}
									</li>
									{% endfor %}
									{% if category.oct_pages %}
										<li class="sc-menu-list-landings">
											<ul>
												{% for oct_page in oct_category.oct_pages %}
													{% if oct_page.page_links is not empty %}
													<li class="d-flex flex-column align-items-start">
														<span class="sc-megamenu-children-title fw-700 mb-2">{{ oct_page.page_group[language_id] }}</span>
														{% for page_link in oct_page.page_links %}
														<a href="{{ page_link[language_id].link }}" title="{{ page_link[language_id].title }}" class="sc-menu-list-landings-link fsz-12">{{ page_link[language_id].title }}</a>
														{% endfor %}
													</li>
													{% endif %}
												{% endfor %}
											</ul>
										</li>
									{% endif %}
								</ul>
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			megaMenu();
		});
	</script>
{% endif %}
