{{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
        &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}

				{% if product.has_doptovary %}
					<a class="dop-product-show-product-sidebar" data-product-id="{{ product.has_doptovary }}">{{ ex_pak_show_product_sidebar }}</a>
				{% endif %}
			
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');location.reload();"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');location.reload();"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
            
          </table>
        </div>
      </form>
      {% if modules %}
      <h2>{{ text_next }}</h2>
      <p>{{ text_next_choice }}</p>
      <div class="panel-group" id="accordion"> {% for module in modules %}
        {{ module }}
        {% endfor %} </div>
      {% endif %} <br />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>

					{% if (product_related_cart) %}
					<h3 style="margin-top: 15px">{{ text_related }}</h3>
					<div class="row mt-3 mt-md-0 p-3 p-md-0 pt-xl-3 g-2 g-md-3 sc-module">
						{% for product in product_related_cart %}
						  <div class="sc-module-item sc-module-col 3">
							  <div class="content-block h-100 d-flex flex-column">
								 <div class="sc-module-img position-relative">
									<a href="{{ product['href'] }}">
										<img src="{{ product['thumb'] }}" sizes="100vw" class="img-fluid oct-lazy" alt="{{ product['name'] }}" title="{{ product['name'] }}" width="230" height="180" data-loaded="true">
									</a>
								</div>


								<div class="sc-module-caption d-flex flex-column justify-content-between py-md-2 h-100">
								  <div class="sc-module-info">
									  <a href="{{ product['href'] }}" class="sc-module-title dark-text fw-700">{{ product['name'] }}</a>
									  <div class="sc-module-model light-text fsz-10 mt-2"><span>Код товару: </span>{{ product['model'] }}</div>

								  </div>
								  <div class="sc-module-price-box mt-auto">
									  <div class="d-flex justify-content-between sc-module-cart">
										  <div class="d-flex flex-d-col">
										   {% if (not product['special']) %}
											 <span class="sc-module-price fw-700 dark-text mt-1 3">{{ product['price'] }}</span>
										  {% else %}
											  <span class="sc-module-price-old light-text fsz-14">{{ product['price'] }}</span>
											  <span class="sc-module-price fw-800 dark-text mt-1">{{ product['special'] }}</span>
										  {% endif %}
										  </div>

										  <div class="sc-module-cart d-flex align-items-stretch justify-content-between">
											  <button type="button" aria-label="To cart" class="km-grid-add-to-cart sc-btn sc-btn-primary sc-btn-with-icon br-4 sc-category-cart-btn remarketing_cart_button" onclick="cart.add('{{ product['product_id'] }}'); setTimeout(() => {window.location.reload()}, 250);" data-product_id="{{ product['product_id'] }}">
												<img src="catalog/view/theme/oct_showcase/img/sprite.svg#include--btn-cart-icon" alt="" width="20" height="20" class="sc-btn-icon sc-btn-icon-cart-img">
												<span class="sc-btn-text">До кошика</span>
											  </button>
                                              <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                          </div>
									  </div>
								  </div>

								</div>
							  </div>
						  </div>
						{% endfor %}
					</div>
				{% endif %}
			
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

	<script><!--
	$('[data="add"]').click(function(){
		$(document).ajaxComplete(function() {
		   location.reload();
		});
	});
	--></script>
			

            <script type="text/javascript"><!--
                $('{{ module_mono_checkout_cart_elem }}').after('{{ mono_checkout_button }}');
            //--></script>
            

				{% if ex_pak_status %}
					<script>
						ex_pak_cart_page.init('{{ ex_pak_setting|json_encode()|raw }}');
					</script>
					<div style="position:absolute;left:-9999px;">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<symbol xmlns="http://www.w3.org/2000/svg" id="ex_arrow_down" viewBox="0 0 8 5">
								<path d="M7 1L4.8 3.93333C4.4 4.46667 3.6 4.46667 3.2 3.93333L1 1" stroke-linecap="round"/>
							</symbol>
							<symbol fill="none" xmlns="http://www.w3.org/2000/svg" id="ex-icon-arrow-scroll" viewBox="0 0 11 10">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M5.69226 8.47998C5.40494 8.81564 5.44413 9.32065 5.77979 9.60796C6.11544 9.89528 6.62045 9.85609 6.90777 9.52044L9.8473 6.08633C10.4509 5.48949 10.4509 4.51093 9.8473 3.91409L6.90777 0.479984C6.62045 0.144331 6.11544 0.105143 5.77979 0.392456C5.44413 0.679769 5.40494 1.18478 5.69226 1.52044L7.99043 4.20528C7.96075 4.20194 7.93057 4.20022 7.9 4.20022H1.5C1.05817 4.20022 0.699997 4.5584 0.699997 5.00022C0.699997 5.44205 1.05817 5.80022 1.5 5.80022H7.9C7.93056 5.80022 7.96073 5.79851 7.9904 5.79517L5.69226 8.47998Z" fill="#000000"/>
							</symbol>
						</svg>
					</div>
					{% if ex_pak_btn_color or ex_pak_btn_color_hover %}
					<style>
						:root {
							{% if ex_pak_btn_color is not empty %}
							--main-btn-color: {{ ex_pak_btn_color }};
							{% endif %}
							{% if ex_pak_btn_color_hover is not empty %}
							--main-btn-color-hover: {{ ex_pak_btn_color_hover }};
							{% endif %}
						}
					</style>
					{% endif %}
				{% endif %}
			
{{ footer }} 