{% if oct_byoneclick_status is defined and oct_byoneclick_status %}
	<div class="sc-buy-one-click d-flex flex-column flex-sm-row align-items-sm-center p-3">
		{#	<span class="sc-buy-one-click-title dark-text fw-700 flex-grow-1">{{ oct_product_oneclick }}</span>#}

		<form action="javascript:;" id="oct_purchase_byoneclick_form{{ oct_byoneclick_page }}" method="post">
			<div class="onelick_buy_text">{{ oct_product_oneclick }}</div>
			<div class="br-8 mt-2 mt-sm-0 w-100 w-md-auto popup_one_click_buy_wrapper">
				<input type="tel" name="telephone" value="{{ telephone }}" placeholder="+38 (___) ___-__-__{#{ oct_product_oneclick_placeholder }#}" id="one_click_input" class="one_click_input form-control h-48 br-8" inputmode="tel">

				{% if oct_byoneclick_product_id is defined and oct_byoneclick_product_id %}
					<input type="hidden" name="product_id" value="{{ oct_byoneclick_product_id }}" />
				{% endif %}
				<input type="hidden" name="oct_byoneclick" value="1" />
				{% if oct_cart_in is defined and oct_cart_in %}
					<input type="hidden" name="oct_cart_in" value="1" />
				{% endif %}

				<span class="input-group-btn">
				<button class="br-8 sc-product-one-click-btn h-48" type="button" aria-label="Send">
					<svg class="oneclickbuy-button-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path fill="#ffffff" fill-rule="evenodd" d="M1 6c0-2.8 2.2-5 5-5 1.3 0 2.5.9 2.9 2.1l1 3.3c.1.3.1.6.1.9 0 1-.5 2-1.3 2.7l-.3.2c-.3.2-.4.5-.4.8 0 .2 0 .3.1.5l.4.7c.3.4.4.6.5.8.5.8 1.2 1.5 2 2 .2.1.4.2.8.5l.7.4c.2.1.4.1.5.1.3 0 .6-.1.8-.4l.2-.3c.6-.8 1.6-1.3 2.7-1.3.3 0 .6 0 1 .1l3.3 1c1.3.4 2.1 1.5 2.1 2.9 0 2.8-2.2 5-5 5C8.6 23 1 15.4 1 6zm5-3C4.3 3 3 4.3 3 6c0 8.3 6.7 15 15 15 1.7 0 3-1.3 3-3 0-.4-.3-.8-.7-1L17 16c-.1 0-.3-.1-.4-.1-.4 0-.8.2-1.1.5l-.2.3c-.5.9-1.3 1.3-2.3 1.3-.5 0-1-.1-1.5-.4l-.7-.4c-.4-.2-.7-.4-.9-.5-1-.7-1.9-1.5-2.5-2.5-.2-.2-.3-.5-.5-.9l-.4-.7C6.1 12 6 11.5 6 11c0-1 .4-1.8 1.2-2.4l.3-.2c.3-.3.5-.6.5-1.1 0-.1 0-.2-.1-.3L7 3.7c-.2-.4-.5-.7-1-.7z" clip-rule="evenodd" opacity="1" data-original="#738598" class=""></path></g></svg>
					<span class="buy-1-click-text">{{ oct_product_oneclick2 }}</span>
					<span class="buy-1-click-text-load"><i class="fa fa-circle-o-notch fa-spin"></i></span>

					<span class="spin-load">
						<svg class="spin-load-svg" id="Icons" enable-background="new 0 0 128 128" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" id="Sync" d="m16 64c0 2.209-1.791 4-4 4s-4-1.791-4-4c0-30.879 25.121-56 56-56 15.391 0 29.632 6.133 40 16.693v-12.693c0-2.209 1.791-4 4-4s4 1.791 4 4v24c0 2.209-1.791 4-4 4h-24c-2.209 0-4-1.791-4-4s1.791-4 4-4h15.908c-8.975-10.096-21.886-16-35.908-16-26.467 0-48 21.533-48 48zm100-4c-2.209 0-4 1.791-4 4 0 26.467-21.533 48-48 48-14.022 0-26.933-5.904-35.908-16h15.908c2.209 0 4-1.791 4-4s-1.791-4-4-4h-24c-2.209 0-4 1.791-4 4v24c0 2.209 1.791 4 4 4s4-1.791 4-4v-12.693c10.368 10.56 24.609 16.693 40 16.693 30.879 0 56-25.121 56-56 0-2.209-1.791-4-4-4z"/></svg>
					</span>
				</button>
			</span>
			</div>
		</form>

	</div>
	{% if oct_byoneclick_mask is defined and oct_byoneclick_mask %}
		<script>
			scInputMask ('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .one_click_input', '{{ oct_byoneclick_mask }}');
		</script>
	{% endif %}
	<script>
		$("#one_click_input").on("change paste keyup", function() {
			$(this).removeClass('error_style');
		});
		$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').on('click', function() {

			$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').addClass('loading');
			$.ajax({
				type: 'post',
				dataType: 'json',
				url: 'index.php?route=octemplates/module/oct_popup_purchase/makeorder',
				cache: false,
				data: $('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }}').serialize(),
				beforeSend: function() {
					// $('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').button('loading');
					// masked('body', true);
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn .buy-1-click-text').hide();
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn .buy-1-click-text-load').show();
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').prop('disabled', true);
				},
				complete: function() {
					// $('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').button('reset');
					// masked('body', false);

					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn .buy-1-click-text').show();
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn .buy-1-click-text-load').hide();
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').prop('disabled', false);
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').removeClass('loading');
				},
				success: function(json) {
					$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').removeClass('loading');
					if (json['error']) {
						let errorOption = '';

						$.each(json['error'], function(i, val) {
							if (val) {
								$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} [name="' + i + '"]').addClass('error_style');
								errorOption += '<div class="alert-text-item">' + val + '</div>';
							}
						});

						scNotify('danger', errorOption);
					} else {
						if (json['success']) {

							$(this).attr( "disabled", "disabled" );

    if (typeof remarketingQuickOrder == 'function') {
		remarketingQuickOrder(json);
		remarketing_order_sent = true;
	}
	  
							successOption = '<div class="alert-text-item">' + json['success'] + '</div>';

    if (typeof remarketingQuickOrder == 'function' && typeof remarketing_order_sent === 'undefined') {
		remarketingQuickOrder(json); 
	}
	  

							// Facebook Pixel
							let fbqValue = null;
							if ($('#total_amount_unique_wrapper').length) {
								// На сторінці корзини
								fbqValue = $('#total_amount_unique_wrapper').text().replace('грн', '').replace(' ', '');
							} else if ($('#product').length) {
								// На сторінці товару
								if ($('#product .km-price-special').length) {
									fbqValue = $('#product .km-price-special').text().replace('грн', '').replace(' ', '');
								} else {
									fbqValue = $('#product .km-price-regular').text().replace('грн', '').replace(' ', '');
								}
							} else if ($('.modal-dialog #modalCartBody .popup-cart-total-value').length) {
								// На сторінці модального вікна корзини
								fbqValue = $('.modal-dialog #modalCartBody .popup-cart-total-value').text().replace('грн', '').replace(' ', '');
							}

							if (fbqValue) {
								fbq('track', 'buy_1click', {
									currency: "UAH",
									value: Number(fbqValue)
								});
							}



							$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} #one_click_input').val('');
							$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} #one_click_input').removeClass('error_style');
							$('#oct_purchase_byoneclick_form{{ oct_byoneclick_page }} .sc-product-one-click-btn').prop('disabled', true);

							{% if oct_cart_in is defined and oct_cart_in %}
							setTimeout(function () {
								$('#cart .header-buttons-cart-quantity').html(0);
							}, 100);

							{% if oct_cart_page is defined and oct_cart_page %}
							setTimeout(function () {
								document.location.reload(true);
							}, 3000);
							{% endif %}
							{% endif %}

							{% if oct_analytics_google_ecommerce is defined and oct_analytics_google_ecommerce is not empty %}
							if (typeof gtag != 'undefined' && json['ecommerce']) {
								gtag('event', 'purchase', json['ecommerce']);
							}
							{% endif %}

							let cartIdsHolder = document.querySelector("[data-cart-ids]");

							if (cartIdsHolder) {
								cartIdsHolder.dataset.cartIds = '';
							}

							setCartBtnAdded(updateOk = true);

							{% if isPopup is defined and isPopup %}
							octPopupCart(successOption);
							{% else %}
							scNotify('success', successOption);
							{% if oct_byoneclick_page == '_popup_cart' %}
							scSidebar('{{ oct_cart }}', 'cart');
							{% endif %}
							{% endif %}
						}
					}
				}
			});
		});
	</script>
{% endif %}
