{{ header }}
<div id="error-not-found" class="container-fluid container-lg flex-grow-1 mobile-no-gutters">
	<div class="content-top-box">{{ content_top }}</div>
	<div class="content-block no-hover-shadow p-3 p-md-4 mobile-no-radius mt-3 mt-lg-4 text-center">
		<h1>{{ heading_title }}</h1>
		{% if (oct_404_image is defined and oct_404_image is not empty) %}
		<div class="my-5"><img class="img-fluid" src="{{ oct_404_image }}" /></div>
		{% endif %}
		<div class="sc-404-content-text">
			{{ text_error }}
		</div>
	</div>
	<div class="content-bottom-box px-3 px-md-0">{{ content_bottom }}</div>
</div>
{{ footer }}
