{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
			<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a></li>
						<li><a href="#tab-product" data-toggle="tab">{{ tab_product }}</a></li> 
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-settings">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-compare_with_categories_status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="compare_with_categories_status" id="input-compare_with_categories_status" class="form-control">
										{% if compare_with_categories_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<br><br>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-compare_with_categories_сats_status"><span data-toggle="tooltip" title="{{ help_show_cats }}">{{ entry_show_cats }}</span></label>
								<div class="col-sm-10">
									<select name="compare_with_categories_сats_status" id="input-compare_with_categories_сats_status" class="form-control">
										{% if compare_with_categories_сats_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-compare_with_categories_counter"><span data-toggle="tooltip" title="{{ help_counter }}">{{ entry_counter }}</span></label>
								<div class="col-sm-10">
									<select name="compare_with_categories_counter" id="input-compare_with_categories_counter" class="form-control">
										{% if compare_with_categories_counter %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-compare_with_categories_show_group_name"><span data-toggle="tooltip" title="{{ help_group_name }}">{{ entry_group_name }}</span></label>
								<div class="col-sm-10">
									<select name="compare_with_categories_show_group_name" id="input-compare_with_categories_show_group_name" class="form-control">
										{% if compare_with_categories_show_group_name %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<br><br>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_items }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2">
											<input type="number" min="1" max="10" name="compare_with_categories_items_default" id="compare_with_categories_items_default" value="{{ compare_with_categories_items_default ? compare_with_categories_items_default : 4 }}" class="form-control" />
											<span style="font-size:12px;">{{ entry_more_than }} 1200px</span>
										</div>

										<div class="col-sm-2">
											<input type="number" min="1" max="10" name="compare_with_categories_items_1200" id="compare_with_categories_items_1200" value="{{ compare_with_categories_items_1200 ? compare_with_categories_items_1200 : 4 }}" class="form-control" />
											<span style="font-size:12px;">{{ entry_up_to }} 1200px</span>
										</div>

										<div class="col-sm-2">
											<input type="number" min="1" max="10" name="compare_with_categories_items_1024" id="compare_with_categories_items_1024" value="{{ compare_with_categories_items_1024 ? compare_with_categories_items_1024 : 3 }}" class="form-control" />
											<span style="font-size:12px;">{{ entry_up_to }} 1024px</span>
										</div>

										<div class="col-sm-2">
											<input type="number" min="1" max="10" name="compare_with_categories_items_600" id="compare_with_categories_items_600" value="{{ compare_with_categories_items_600 ? compare_with_categories_items_600 : 2 }}" class="form-control" />
											<span style="font-size:12px;">{{ entry_up_to }} 600px</span>
										</div>

										<div class="col-sm-2">
											<input type="number" min="1" max="10" name="compare_with_categories_items_480" id="compare_with_categories_items_480" value="{{ compare_with_categories_items_480 ? compare_with_categories_items_480 : 1 }}" class="form-control" />
											<span style="font-size:12px;">{{ entry_up_to }} 480px</span>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_image_size }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2">
											<input type="number" min="1" name="compare_with_categories_img_width" id="compare_with_categories_img_width" value="{{ compare_with_categories_img_width ? compare_with_categories_img_width : 80 }}" class="form-control" />
										</div>
										<div class="col-sm-2">
											<input type="number" min="1" name="compare_with_categories_img_height" id="compare_with_categories_img_height" value="{{ compare_with_categories_img_height ? compare_with_categories_img_height : 80 }}" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_limit }}</label>
								<div class="col-sm-10">
									<input type="number" min="2" max="100" name="compare_with_categories_limit" id="compare_with_categories_limit" value="{{ compare_with_categories_limit ? compare_with_categories_limit : 20 }}" class="form-control" />
								</div>
							</div>

						</div>

						<div class="tab-pane" id="tab-product">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-compare_with_categories_def_val_status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="compare_with_categories_def_val_status" id="input-compare_with_categories_def_val_status" class="form-control">
										{% if compare_with_categories_def_val_status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_def_heading }}">{{ entry_def_heading }}</span></label>
								<div class="col-sm-10">
									{% for language in languages %}
										<div class="input-group">
											<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
											<input type="text" name="compare_with_categories_def_heading[{{ language.language_id }}]" value="{{ compare_with_categories_def_heading[language.language_id] is not empty ? compare_with_categories_def_heading[language.language_id] : '' }}" class="form-control" />
										</div>
									{% endfor %}
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2">
											<label class="control-label"><span data-toggle="tooltip" title="{{ help_column_status }}">{{ column_status }}</span></label>
										</div>
										<div class="col-sm-3">
											<label class="control-label"><span data-toggle="tooltip" title="{{ help_column_slider }}">{{ column_slider }}</span></label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_model }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_model %}
												<input type="checkbox" name="compare_with_categories_model"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_model" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_model_is_slider %}
												<input type="checkbox" name="compare_with_categories_model_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_model_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_manufacturer }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_manufacturer %}
												<input type="checkbox" name="compare_with_categories_manufacturer"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_manufacturer" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_manufacturer_is_slider %}
												<input type="checkbox" name="compare_with_categories_manufacturer_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_manufacturer_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_availability }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_availability %}
												<input type="checkbox" name="compare_with_categories_availability"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_availability" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_availability_is_slider %}
												<input type="checkbox" name="compare_with_categories_availability_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_availability_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_weight }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_weight %}
												<input type="checkbox" name="compare_with_categories_weight"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_weight" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_weight_is_slider %}
												<input type="checkbox" name="compare_with_categories_weight_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_weight_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_dimension }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_dimension %}
												<input type="checkbox" name="compare_with_categories_dimension"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_dimension" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_dimension_is_slider %}
												<input type="checkbox" name="compare_with_categories_dimension_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_dimension_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_rating }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-2 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_rating %}
												<input type="checkbox" name="compare_with_categories_rating"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_rating" value="1" />
												{% endif %}
											</label>
										</div>

										<div class="col-sm-3 custom-radios">
											<label class="checkbox"> 
												{% if compare_with_categories_rating_is_slider %}
												<input type="checkbox" name="compare_with_categories_rating_is_slider"  value="1" checked="checked" />
												{% else %}
												<input type="checkbox" name="compare_with_categories_rating_is_slider" value="1" />
												{% endif %}
											</label>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>		
				</form>

				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<div class="row">
							<div class="alert alert-info">
								<i class="fa fa-info-circle"></i> {{ entry_support }}
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<style>
	.custom-radios input[type=radio],
	.custom-radios input[type=checkbox] {
		position: relative;
		width: 40px;
		height: 20px;
		margin: 0;
		vertical-align: top;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 30px;
		outline: none;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		transition: all .3s cubic-bezier(.2, .85, .32, 1.2);
	}

	.custom-radios input[type=radio]:focus,
	.custom-radios input[type=checkbox]:focus {
		border-color: #ccc;
	}

	.custom-radios label.radio-inline.text-center {
		padding-top: 3px;
	}

	.custom-radios label.radio-inline.text-center:first-child {
		padding-left: 0;
	}

	.custom-radios input[type=radio]::after,
	.custom-radios input[type=checkbox]::after {
		content: '' !important;
		position: absolute;
		left: 3px !important;
		top: 50% !important;
		width: 14px !important;
		height: 14px !important;
		background-color: #1e91cf;
		border-radius: 50%;
		transform: translate(0%, -50%);
		transition: all .3s cubic-bezier(.2, .85, .32, 1.2)
	}

	.custom-radios input[type=radio]:checked::after,
	.custom-radios input[type=checkbox]:checked::after {
		transform: translate(calc(100% + 3px), -50%);
		background-color: #fff
	}

	.custom-radios input[type=radio]:checked,
	.custom-radios input[type=checkbox]:checked {
		background-color: #1e91cf;
	}
</style>
{{ footer }}