{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
          <div class="pull-right">
           <button type="button" class="btn btn-info howitworks" data-toggle="modal" data-target="#howitworks">{{ text_howitworks }} <i class="fa fa-question" aria-hidden="true"></i></button>
         </div>
    </div>
  </div>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {{ menu }}
      </div>
      <h1><i class="fa fa-user fa-fw" style="color:tomato;"></i> {{ heading_title_orderreport }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> {{ text_reportlist }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            {% if not filter_salesagent and not salesagent_id %}
              <div class="alert alert-info alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ help_selectagent_transactionpage }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-salesagent">{{ entry_salesagent }}</label>
                <select name="filter_salesagent" id="input-salesagent" class="form-control">
                    <option value="" selected="selected">{{ text_select }}</option>
                    {% for saleagent in saleagents %}
                      {% if not salesagent_id %}
                          {% if saleagent.salesagent_id == filter_salesagent %}
                          <option value="{{ saleagent.salesagent_id }}" selected="selected">{{ saleagent.name }}</option>
                          {% else %}
                          <option value="{{ saleagent.salesagent_id }}">{{ saleagent.name }}</option>
                          {% endif %}
                       {% else %}
                          {% if saleagent.salesagent_id in salesagent_id %}
                          {% if saleagent.salesagent_id == filter_salesagent %}
                          <option value="{{ saleagent.salesagent_id }}" selected="selected">{{ saleagent.name }}</option>
                          {% else %}
                          <option value="{{ saleagent.salesagent_id }}">{{ saleagent.name }}</option>
                          {% endif %}
                          {% endif %}
                       {% endif %}
                    {% endfor %}
                  </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
            </div>
            <div class="col-sm-3"> 
              <div class="form-group">
                <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label" for="input-paidout">{{ entry_paidout }}</label>
                <select name="filter_paidout" id="input-paidout" class="form-control">
                     {% if (filter_paidout) %} 
                      <option value="1" selected="selected">Paid Out</option>
                      {% else %} 
                      <option value="1">Paid Out</option>
                      {% endif %} 
                      {% if not filter_paidout %} 
                      <option value="0" selected="selected">Un Paid</option>
                      {% else %} 
                      <option value="0">Un Paid</option>
                      {% endif %}
                      {% if filter_paidout == "" %} 
                      <option value="*" selected="selected">All Status</option>
                      {% else %}
                      <option value="*">All Status</option>
                      {% endif %}
                  </select>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
            {% if report_exacttotal is defined and report_exacttotal is not empty %}
            <div class="col-sm-6">
              <div class="form-group">
                <h3 class="control-label" for="input-text_orderamount">{{ text_orderamount }}{{ report_exacttotal.ordertotal }}</h3>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <h3 class="control-label" for="input-text_commission">{{ text_commission }}{{ report_exacttotal.commissiontotal }}</h3>
              </div>
              {% if (makepayout) %} 
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ makepayout }}<a href="{{ payoutlink }}">Click Here</a>
                </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div>
            <i class="fa fa-square" aria-hidden="true" style="color:{{ unpaid_color }};"></i>
            <label>{{ text_unpaid_commission }}</label>
          </div>
          <div>
            <i class="fa fa-square" aria-hidden="true" style="color:{{ paid_color }};"></i>
            <label>{{ text_paid_commission }}</label>
          </div>
        </div>

        {% if report_results and filter_salesagent and not salesagent_id %}
        <div class="alert alert-info alert-dismissible">{{ help_make_payouts }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}

        {% if report_results is empty and filter_salesagent and not salesagent_id %}
        <div class="alert alert-info alert-dismissible">{{ help_only_successfully }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}

        

        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                {% if filter_salesagent %}
                <td class="text-left"></td>
                {% endif %}
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_customername }}</td>
                <td class="text-right">{{ column_orders }}</td>
                <td class="text-right">{{ column_products }}</td>
                <td class="text-right">{{ column_orderamount }}</td>
                <td class="text-right">{{ column_calculationtext }}</td>
                <td class="text-right">{{ column_amount }}</td>
              </tr>
            </thead>
            <tbody>
              {% if report_results %}
              {% for order in report_results %}
              <tr style="background:{{ order.color }};color:black">
                {% if filter_salesagent %}
                <td>
                {% if not order.paidout %}
                  {% if order.transaction_id in  filter_transactionids %} 
                    <input type="checkbox" name="order_transaction_ids" value="{{ order.transaction_id }}" checked="checked" />
                  {% else %}
                     <input type="checkbox" name="order_transaction_ids" value="{{ order.transaction_id }}" />
                  {% endif %}
                {% else %}
                NA
                {% endif %}
                </td>
                {% endif %}
                <td class="text-left">{{ order.name }}</td>
                <td class="text-left">{{ order.firstname }} {{ order.lastname }}<br>{{ order.customer_email }}</td>
                <td class="text-right">{{ order.order_id }}<br>{{ order.status }}<br>{{ order.date_added }}</td>
                <td class="text-right">{{ order.product }}</td>
                <td class="text-right">{{ text_total }}: {{ order.total }}{% if order.sub_total_amount %}<br>{{ text_subtotal }}: {{ order.sub_total }}
                  {% endif %}
                </td>
                <td class="text-right">{{ order.calculationtext }} %</td>
                <td class="text-right">{{ order.amount }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="8">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_howitworks }}</h4>
      </div>
      <div class="modal-body">
        {{ text_howitworks_orderreport_content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  url = 'index.php?route=extension/report/salesagent/orderreport&user_token={{ user_token }}';
  
  var filter_date_start = $('input[name=\'filter_date_start\']').val();
  
  if (filter_date_start) {
    url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
  }

  var filter_date_end = $('input[name=\'filter_date_end\']').val();
  
  if (filter_date_end) {
    url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
  }

  var filter_paidout = $('select[name=\'filter_paidout\']').val();
  
  if (filter_paidout != '*') {
    url += '&filter_paidout=' + encodeURIComponent(filter_paidout);
  }
    
  var filter_salesagent = $('select[name=\'filter_salesagent\']').val();
  
  if (filter_salesagent) {
    url += '&filter_salesagent=' + encodeURIComponent(filter_salesagent);
  }
  
  var order_statusids_array = [];
  $.each($("input[name='filter_order_status_id']:checked"), function(){
      order_statusids_array.push($(this).val());
  });
  var order_statusids_string = order_statusids_array.join(",");
  if (order_statusids_string != 0) {
    url += '&filter_order_status_id=' + encodeURIComponent(order_statusids_string);
  } 

  var order_transactionids_array = [];
  $.each($("input[name='order_transaction_ids']:checked"), function(){
      order_transactionids_array.push($(this).val());
  });
  var order_transactionids_string = order_transactionids_array.join(",");
  if (order_transactionids_string != 0) {
    url += '&filter_transactionids=' + encodeURIComponent(order_transactionids_string);
  } 

  location = url;
});
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});
//--></script></div>
{{ footer }}