<div class="dop-product-product-info">
	<div class="body">
		<div class="title">
			<a class="close" onclick="ex_pak_product_info.close();">{{ ex_pak_product_info_close }}</a>
		</div>
		<div class="body-content">
			<div class="product-wrap product row" data-main-product-id="{{ main_product_id }}" data-default-product-key="{{ default_product_key }}"  data-cart-product-key="{{ cart_product_key }}" {% if complect_id %}data-kit-id="{{ complect_id }}" data-kit-product-id="{{ complect_product_id }}"{% else %}data-group-id="{{ group_id }}" data-group-product-id="{{ group_product_id }}"{% endif %}>
				<input type="hidden" name="main_product_id" value="{{ main_product_id }}">
				<input type="hidden" name="default_product_key" value="{{ default_product_key }}">
				<input type="hidden" name="cart_product_key" value="{{ cart_product_key }}">

				{% if group_id %}
					<input type="hidden" name="group_id" value="{{ group_id }}">
				{% endif %}
				{% if group_product_id %}
					{% set sub_product_id = group_product_id %}
					<input type="hidden" name="group_product_id" value="{{ group_product_id }}">
				{% endif %}
				{% if complect_id %}
					<input type="hidden" name="complect_id" value="{{ complect_id }}">
				{% endif %}
				{% if complect_product_id %}
					{% set sub_product_id = complect_product_id %}
					<input type="hidden" name="complect_product_id" value="{{ complect_product_id }}">
				{% endif %}
				
		      	<input type="hidden" name="submit" value="1">
				<div class="name name-top">{{ heading_title }}</div>
				<div class="image col-xl-5 col-lg-5 col-md-12 col-sm-12">
					<img src="{{ thumb }}" alt="{{ heading_title }}">
				</div>
				<div class="info col-xl-7 col-lg-7 col-md-12 col-sm-12">
					<div class="name name-bottom">{{ heading_title }}</div>
					<div class="rating">
						<div class="rating-new-left">
							<div class="rating-empty">
								<svg class="ex-star ex-star-grey" style="width: 14px;height: 14px;fill:#cccccc;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star ex-star-grey" style="width: 14px;height: 14px;fill:#cccccc;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star ex-star-grey" style="width: 14px;height: 14px;fill:#cccccc;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star ex-star-grey" style="width: 14px;height: 14px;fill:#cccccc;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star ex-star-grey" style="width: 14px;height: 14px;fill:#cccccc;"><use xlink:href="#dop-product-star"></use></svg>
							</div>
							<div class="rating-full" style="width: {{ rating_percent }}%">
								<svg class="ex-star" style="width: 14px;height: 14px;fill: #FFAB2B;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star" style="width: 14px;height: 14px;fill: #FFAB2B;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star" style="width: 14px;height: 14px;fill: #FFAB2B;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star" style="width: 14px;height: 14px;fill: #FFAB2B;"><use xlink:href="#dop-product-star"></use></svg>
								<svg class="ex-star" style="width: 14px;height: 14px;fill: #FFAB2B;"><use xlink:href="#dop-product-star"></use></svg>
							</div>
						</div>
						<div class="product-model text-right">Код: <b>{{ model }}</b></div>
					</div>
					<div class="price">
						{% if special %}
							<div class="price-old">
								<span>{{ price }}</span>
								{% if discount_procent %}
									<span class="discount-procent">-{{ discount_procent }}%</span>
								{% endif %}
							</div>
							<div class="price-new">{{ special }}</div>
						{% else %}
							{{ price }}
						{% endif %}
					</div>

					{% if options %}
						{{ if}}
						<div class="options">
				      	 	<div id="ex-product-options-box" class="ex-product-center-options">
						        {% for option in options %}
						            {% if option.type == 'select' %}
						                <div class="form-group">
						                    <label class="ex-control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}
						                        {% if option.required %}
						                            <span class="required">*</span>
						                        {% endif %}
						                    </label>
						                    <select name="option[{{ sub_product_id }}][{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="ex-select form-control">
						                        <option value="">{{ text_select }}</option>
						                        {% for option_value in option.product_option_value %}
						                            <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
						                                {% if option_value.price %}
						                                    ({{ option_value.price_prefix }}{{ option_value.price }})
						                                {% endif %}
						                            </option>
						                        {% endfor %}
						                    </select>
						                </div>
						            {% endif %}
						            {% if option.type == 'radio' %}
						                <div class="form-group">
						                    <label class="ex-control-label">{{ option.name }}{% if option.required %}<span class="required">*</span>{% endif %}</label>
						                    <div id="input-option{{ option.product_option_id }}" class="options-box d-flex">
						                        {% for option_value in option.product_option_value %}
						                            <div class="radio">
						                                <label{% if option_value.quantity > 0 %} data-toggle="tooltip" data-trigger="hover" class="option optid-{{ option.product_option_id }} not-selected {% if option_value.image %} radio-img{% else %}ex-radio{% endif %}" title="{{ option_value.name }} {% if option_value.price %}{{ option_value.price_prefix }}{{ option_value.price }}{% endif %}"{% else %} class="disabled_input"{% endif %}>
						                                    <input type="radio" name="option[{{ sub_product_id }}][{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="input-radio" {% if option_value.quantity == 0 %} disabled {% endif %}/>
						                                    {% if option_value.image %}
						                                        <img src="image/{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" width="50" height="50" />
						                                    {% else %}
						                                        <span>{{ option_value.name }}</span>
						                                    {% endif %}
						                                </label>
						                                <script>
						                                    $(document).ready(function() {
						                                        $(document).on('touchstart click', 'label.optid-{{ option.product_option_id }}', function(event) {
						                                            $('label.optid-{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
						                                            $(this).removeClass('not-selected').addClass('selected');
						                                        });
						                                    });
						                                </script>
						                            </div>
						                        {% endfor %}
						                    </div>
						                </div>
						            {% endif %}
						            {% if option.type == 'checkbox' %}
						                <div class="form-checkbox-group">
						                    <div class="ex-control-label">{{ option.name }}
						                        {% if option.required %}
						                            <span class="required">*</span>{% endif %}
						                    </div>
						                    <div id="input-option{{ option.product_option_id }}">
						                        {% for option_value in option.product_option_value %}
						                            <div class="checkbox">
						                                <label>
						                                    {% if option_value.image %}<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" width="50" height="50" />{% endif %}
						                                    <input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ sub_product_id }}][{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="ex-form-checkbox-input"/>
						                                    <span class="check-box"></span>
						                                    {{ option_value.name }}
						                                    {% if option_value.price %}
						                                        ({{ option_value.price_prefix }}{{ option_value.price }})
						                                    {% endif %}
						                                </label>
						                            </div>
						                        {% endfor %}
						                    </div>
						                </div>
						            {% endif %}
						            {% if option.type == 'text' %}
						                <div class="form-group">
						                    <label class="ex-control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}
						                        {% if option.required %}
						                            <span class="required">*</span>
						                        {% endif %}
						                    </label>
						                    <input type="text" name="option[{{ sub_product_id }}][{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
						                </div>
						            {% endif %}
						            {% if option.type == 'textarea' %}
						                <div class="form-group">
						                    <label class="ex-control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}
						                        {% if option.required %}
						                            <span class="required">*</span>{% endif %}
						                    </label>
						                    <textarea name="option[{{ sub_product_id }}][{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
						                </div>
						            {% endif %}
						            {% if option.type == 'file' %}
										<div class="form-group{% if option.required %} required {% endif %}">
											<label class="control-label">{{ option.name }}</label>
											<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
											<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
										</div>
						            {% endif %}
						            {% if option.type == 'date' %}
										<div class="form-group{% if option.required %} required {% endif %}">
											<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<div class="input-group date">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											</span></div>
										</div>
						            {% endif %}
						            {% if option.type == 'datetime' %}
										<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<div class="input-group datetime">
										  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
										  <span class="input-group-btn">
										  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										  </span></div>
									  </div>
						            {% endif %}
						            {% if option.type == 'time' %}
										<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										<div class="input-group time">
										  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
										  <span class="input-group-btn">
										  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										  </span></div>
									  </div>
						            {% endif %}
						            
						            {% if options_errors[option.product_option_id] %}
						            	<div class="text-danger">{{ options_errors[option.product_option_id] }}</div>
						            {% endif %}
						            
						        {% endfor %}
					        </div>
						</div>
					{% endif %}
					
					<div class="button-cart-wrap">
						<button class="button-cart {% if in_cart %} in-cart{% endif %}">
							<span class="ex-cart-btn-icon"></span>
							<span class="ex-btn-text">{{ ex_pak_product_info_to_cart }}</span>
						</button>
					</div>
				</div>

				{% if description is not empty %}
				<div class="description col-sm-12">
					<div class="title">{{ ex_pak_product_info_to_description }}</div>
					<div class="ex-product-tabs-description ex-content">
						{{ description }}
					</div>
				</div>
				{% endif %}
				
				{% if attribute_groups %}
					<div class="attributes col-sm-12">
			            <div class="title">{{ tab_attribute }}</div>
			            <div class="ex-product-tabs-attributes">
							<table class="table table-bordered">
								{% for attribute_group in attribute_groups %}
									<thead>
									<tr>
										<td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
									</tr>
									</thead>
									<tbody>
									{% for attribute in attribute_group.attribute %}
										<tr>
											<td>{{ attribute.name }}</td>
											<td>{{ attribute.text }}</td>
										</tr>
									{% endfor %}
									</tbody>
								{% endfor %}
							</table>
			            </div>
		            </div>
	        	{% endif %}
	        	
	        	<div class="to-product">
	        		<a href="{{ to_product }}">{{ ex_pak_product_to_cart }}</a>
	        	</div>
			</div>
		</div>
	</div>
	<div class="overlay" onclick="ex_pak_product_info.close();"></div>
	<div style="position: absolute;	left: -9999px;">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<symbol id="dop-product-star" viewBox="0 0 12.8 12.25">
				<path d="M5.68.45A.81.81,0,0,1,6.75.08a.83.83,0,0,1,.37.37L8.66,3.57l3.46.51a.8.8,0,0,1,.67.9.75.75,0,0,1-.23.46l-2.5,2.44.59,3.44a.81.81,0,0,1-.66.92.79.79,0,0,1-.5-.08L6.4,10.54,3.31,12.16a.81.81,0,0,1-1.08-.34.79.79,0,0,1-.08-.5l.59-3.44L.24,5.44a.79.79,0,0,1,0-1.12h0A.73.73,0,0,1,.7,4.08l3.45-.51Z" transform="translate(0 0)"/>
			</symbol>
		</svg>
	</div>
</div>
