{% if (saleagents is defined and saleagents is not empty) %} 
  <div class="checkout-section deliverydate-section section-cvr">
    <div class="title section-title">{{ text_salesagent }}</div>
   <div class="checkout-content section-body" id="salesagent">
     <div class="form-group">
      <label class="control-label" for="input-salesagent">{{ entry_salesagent }}</label>
      {% if salesagent_selecttype %}
                  <input type="text" name="uniqueid" id="input-salesagent" class="form-control" placeholder="{{ entry_salesagent }}" value="{{ uniqueid }}">
                {% else %}
                <select name="salesagent_id" id="input-salesagent" class="form-control">
                  <option value="0">{{ text_select }}</option>
                  {% for saleagent in saleagents %} 
                  {% if (salesagent_id == saleagent['salesagent_id']) %} 
                    <option selected="selected" value="{{ saleagent['salesagent_id'] }}">{{ saleagent['name'] }}</option>
                  {% else %} 
                    <option value="{{ saleagent['salesagent_id'] }}">{{ saleagent['name'] }}</option>
                  {% endif %} 
                  {% endfor %} 
                </select>
                {% endif %}
      </div>
</div>
</div>
{% endif %}